flows/Create_OppProduct_from_Expense.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>No_PB_entry</name>
        <label>No PB entry</label>
        <locationX>631</locationX>
        <locationY>799</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>sOpp.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Please add {!vProductName} to the pricebook you have chosen for this opportunity.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sOpp.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Missing pricebook entry for Expense product</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Qty_DaysEffort</name>
        <label>Assign Qty = DaysEffort</label>
        <locationX>1307</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>sOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExpenseDaysEffort</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAmountPerDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OppProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Expense</name>
        <label>Assign to Expense</label>
        <locationX>1313</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>sExpense.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExpenseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpense.Related_OpportunityProduct_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOppProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_OppProduct</name>
        <label>Assign to OppProduct</label>
        <locationX>918</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>sOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceBookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.Related_Expense_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExpenseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.Facilitator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vFaciliatorPosition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.Recognised_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.Related_to_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not related to training dates</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExpenseTypeJoined</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Fac_Fixed_Fee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_PriceBookEntry_exist</name>
        <label>Does PriceBookEntry exist?</label>
        <locationX>633</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>No_PB_entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PriceBookEntry doesn&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>PriceBookEntry_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPriceBookEntry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_OppProduct</targetReference>
            </connector>
            <label>PriceBookEntry exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Product_exist</name>
        <label>Does Product exist?</label>
        <locationX>485</locationX>
        <locationY>564</locationY>
        <defaultConnectorLabel>Product doesn&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Product_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sProduct.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PriceBookEntry</targetReference>
            </connector>
            <label>Product exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOppProductExist</name>
        <label>Does OppProduct Exist?</label>
        <locationX>765</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>DeleteRelatedOppProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OppProductExists</defaultConnectorLabel>
        <rules>
            <name>NoOppProductExists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sOppProductToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Product</targetReference>
            </connector>
            <label>NoOppProductExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOppProductIdExist</name>
        <label>Does OppProduct ID Exist?</label>
        <locationX>217</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>FindRelatedOppProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OppProductIdExists</defaultConnectorLabel>
        <rules>
            <name>NoOppProductIdExists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vRelatedOppProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRelatedOppProductId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Product</targetReference>
            </connector>
            <label>NoOppProductIdExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Fac_Fixed_Fee</name>
        <label>If Fac Fixed Fee</label>
        <locationX>1110</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>Create_OppProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT FFF</defaultConnectorLabel>
        <rules>
            <name>Yes_FFF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Facilitator fixed fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Qty_DaysEffort</targetReference>
            </connector>
            <label>Yes, FFF</label>
        </rules>
    </decisions>
    <interviewLabel>Create OppProduct from Expense {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create OppProduct from Expense</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OppProduct</name>
        <label>Create OppProduct</label>
        <locationX>1112</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Assign_to_Expense</targetReference>
        </connector>
        <inputReference>sOppProduct</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRelatedOppProduct</name>
        <label>DeleteRelatedOppProduct</label>
        <locationX>764</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>Find_Product</targetReference>
        </connector>
        <inputReference>sOppProductToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_PriceBookEntry</name>
        <label>Find PriceBookEntry</label>
        <locationX>488</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_PriceBookEntry_exist</targetReference>
        </connector>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrency</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPriceBookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>sPriceBookEntry.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sPriceBookEntry.UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Product</name>
        <label>Find Product</label>
        <locationX>208</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Product_exist</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductName</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>sProduct.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_sOpp</name>
        <label>sOpp</label>
        <locationX>52</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesOppProductIdExist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindRelatedOppProduct</name>
        <label>FindRelatedOppProduct</label>
        <locationX>485</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesOppProductExist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRelatedOppProductId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>sOppProductToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expense</name>
        <label>Update Expense</label>
        <locationX>1309</locationX>
        <locationY>903</locationY>
        <inputReference>sExpense</inputReference>
    </recordUpdates>
    <startElementReference>Find_sOpp</startElementReference>
    <status>Active</status>
    <variables>
        <name>sExpense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOppProductToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>vAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vAmountPerDay</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vExpenseDaysEffort</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vExpenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vExpenseTypeJoined</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFaciliatorPosition</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRelatedOppProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
