flows/DeleteJobEffortRelatedToOpportunityProduct.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>IfJobFound</name>
        <label>IfJobFound</label>
        <locationX>142</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>JobFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobEffortId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteJobEffortRelatedToOpportunityProduct</targetReference>
            </connector>
            <label>JobFound</label>
        </rules>
        <rules>
            <name>JobNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobEffortId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JobNotFound</label>
        </rules>
    </decisions>
    <interviewLabel>DeleteJobEffortRelatedToOpportunityProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleteJobEffortRelatedToOpportunityProduct-v4</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteJobEffortRelatedToOpportunityProduct</name>
        <label>DeleteJobEffortRelatedToOpportunityProduct</label>
        <locationX>140</locationX>
        <locationY>521</locationY>
        <filters>
            <field>Related_OpportunityProduct_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOpportunityProductId</elementReference>
            </value>
        </filters>
        <object>Job_effort__c</object>
    </recordDeletes>
    <recordLookups>
        <name>FindRelatedJobEfforts</name>
        <label>FindRelatedJobEfforts</label>
        <locationX>268</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfJobFound</targetReference>
        </connector>
        <filters>
            <field>Related_OpportunityProduct_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOpportunityProductId</elementReference>
            </value>
        </filters>
        <object>Job_effort__c</object>
        <outputAssignments>
            <assignToReference>JobEffortId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>FindRelatedJobEfforts</startElementReference>
    <status>Draft</status>
    <variables>
        <name>JobEffortId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedOpportunityProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
