flows/DeleteTestOppsJobsPax.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetOppId</name>
        <label>SetOppId</label>
        <locationX>223</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>sOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckJobId</name>
        <label>CheckJobId</label>
        <locationX>29</locationX>
        <locationY>106</locationY>
        <defaultConnector>
            <targetReference>SetOppId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>JobIdNull</defaultConnectorLabel>
        <rules>
            <name>JobIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindPax</targetReference>
            </connector>
            <label>JobIdNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOppId</name>
        <label>CheckOppId</label>
        <locationX>30</locationX>
        <locationY>11</locationY>
        <defaultConnectorLabel>OppIdNull</defaultConnectorLabel>
        <rules>
            <name>OppIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckJobId</targetReference>
            </connector>
            <label>OppIdNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfJobs</name>
        <label>IfJobs</label>
        <locationX>402</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>SetOppId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoJobs</defaultConnectorLabel>
        <rules>
            <name>FoundJobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scJobs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteJobs</targetReference>
            </connector>
            <label>FoundJobs</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfPax</name>
        <label>IfPax</label>
        <locationX>406</locationX>
        <locationY>107</locationY>
        <defaultConnector>
            <targetReference>FindJobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoPax</defaultConnectorLabel>
        <rules>
            <name>FoundPax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scPax</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeletePax</targetReference>
            </connector>
            <label>FoundPax</label>
        </rules>
    </decisions>
    <interviewLabel>DeleteTestOppsJobsPax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleteTestOppsJobsPax</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteJobs</name>
        <label>DeleteJobs</label>
        <locationX>629</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>SetOppId</targetReference>
        </connector>
        <inputReference>scJobs</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteOpp</name>
        <label>DeleteOpp</label>
        <locationX>626</locationX>
        <locationY>351</locationY>
        <inputReference>sOpp</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeletePax</name>
        <label>DeletePax</label>
        <locationX>628</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>FindJobs</targetReference>
        </connector>
        <inputReference>scPax</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>FindJobs</name>
        <label>FindJobs</label>
        <locationX>226</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfJobs</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>scJobs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindPax</name>
        <label>FindPax</label>
        <locationX>233</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfPax</targetReference>
        </connector>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJobId</elementReference>
            </value>
        </filters>
        <object>Participant__c</object>
        <outputReference>scPax</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>CheckOppId</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>scJobs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>scPax</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>sOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
