flows/Expenses_aggregate_fee_splits.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Aggregate_sOpDedFeeMat</name>
        <label>Aggregate sOpDedFeeMat</label>
        <locationX>416</locationX>
        <locationY>909</locationY>
        <assignmentItems>
            <assignToReference>sOpDedFeeMat.UnitPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExp.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sExp_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggregate_sOpDedFeeServFac</name>
        <label>Aggregate sOpDedFeeServFac</label>
        <locationX>327</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>sOpDedFeeServFac.UnitPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExp.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sExp_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggregate_sOpDedFeeServMark</name>
        <label>Aggregate sOpDedFeeServMark</label>
        <locationX>375</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>sOpDedFeeServMark.UnitPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExp.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sExp_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggregate_sOrrExp_sExp</name>
        <label>Aggregate sOrrExp to sExp</label>
        <locationX>876</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>sExp.Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrrExp.doll_comm__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOrrExp_not_Exp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sExp_update</name>
        <label>Collect sExp update</label>
        <locationX>303</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>scExpUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scExp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sOpDedFeeMat</name>
        <label>Collect sOpDedFeeMat</label>
        <locationX>322</locationX>
        <locationY>1461</locationY>
        <assignmentItems>
            <assignToReference>scOpDedFeeUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpDedFeeMat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOpDedFeeServFac_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sOpDedFeeServFac</name>
        <label>Collect sOpDedFeeServFac</label>
        <locationX>323</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>scOpDedFeeUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpDedFeeServFac</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOpDedFeeServMark_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sOpDedFeeServMark</name>
        <label>Collect sOpDedFeeServMark</label>
        <locationX>323</locationX>
        <locationY>1636</locationY>
        <assignmentItems>
            <assignToReference>scOpDedFeeUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpDedFeeServMark</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scOpDedFeeUpdate_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sOr_update</name>
        <label>Collect sOr update</label>
        <locationX>1057</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>scOrUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sExp_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sOr_update_0</name>
        <label>Collect sOr update</label>
        <locationX>13</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>scOrUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_scOr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sOrrExp</name>
        <label>Collect sOrrExp</label>
        <locationX>566</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>scOrrExpUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrrExp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scOrrExp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_sExp_Amount</name>
        <label>Reset sExp Amount</label>
        <locationX>1052</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>sExp.Amount_comparator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExp.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExp.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sExp_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_sOpDedFees</name>
        <label>Reset sOpDedFees</label>
        <locationX>910</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>sOpDedFee.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOpDedFee_types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ExpOppRoleId</name>
        <label>Set ExpOppRoleId</label>
        <locationX>372</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>vsExpOppRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExp.Opportunity_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProfitSplitScenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sExp_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProductType_Mat</name>
        <label>Set ProductType Mat</label>
        <locationX>1320</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>vProductType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Material</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOpp_monthlies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProductType_Serv</name>
        <label>Set ProductType Serv</label>
        <locationX>1184</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>vProductType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOpp_monthlies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProfitFeeSplit_value</name>
        <label>Set Amount</label>
        <locationX>690</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>sExp.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProfitFeeSplitValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ExpOppRoleId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProfitFeeSplit_value_fac</name>
        <label>Set Amount Fac</label>
        <locationX>690</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>sExp.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProfitFeeSplitValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOr.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExp.Opportunity_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOr.Total_doll_profit_fac__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProfitFeeSplitValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ExpOppRoleId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProfitFeeSplit_value_sell</name>
        <label>Set Amount Sell</label>
        <locationX>689</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>sExp.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProfitFeeSplitValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOr.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExp.Opportunity_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOr.Total_doll_profit_sell__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProfitFeeSplitValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ExpOppRoleId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProfitFeeSplit_value_spot</name>
        <label>Set Amount Spot</label>
        <locationX>692</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>sExp.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProfitFeeSplitValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOr.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExp.Opportunity_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOr.Total_doll_profit_spot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProfitFeeSplitValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ExpOppRoleId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sExp_sOrrExp_0</name>
        <label>Set sExp sOrrExp</label>
        <locationX>563</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>sOrrExp.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sOrrExp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOpDedFeeMat</name>
        <label>Set sOpDedFeeMat</label>
        <locationX>1079</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>sOpDedFeeMat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpDedFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scOpDedFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOpDedFeeServFac</name>
        <label>Set sOpDedFeeServFac</label>
        <locationX>682</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>sOpDedFeeServFac</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpDedFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scOpDedFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOpDedFeeServMark</name>
        <label>Set sOpDedFeeServMark</label>
        <locationX>914</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>sOpDedFeeServMark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpDedFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scOpDedFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Turn_sync_off</name>
        <label>Turn sync off</label>
        <locationX>165</locationX>
        <locationY>1816</locationY>
        <assignmentItems>
            <assignToReference>sOpp.Split_fees_and_invoices_sync_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All done</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpp.Sync_in_progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Turn_sync_off_0</name>
        <label>Turn sync off</label>
        <locationX>520</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>sOpp.Split_fees_and_invoices_sync_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All done</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpp.Sync_in_progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Different_sOr</name>
        <label>Different sOr</label>
        <locationX>1054</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>sExp_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Different_sOr_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOr.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vsExpOppRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOr.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vsExpOppRoleId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_sOr_update</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_to_Network_Member</name>
        <label>Invoice to Network Member</label>
        <locationX>184</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Find_scExp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Invoice_to_Network_Member_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpp.Invoice_to_Network_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scOpDedFee</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Consulting</name>
        <label>Is Opp Consulting?</label>
        <locationX>164</locationX>
        <locationY>1906</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Is_Opp_Consulting_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpp.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_before_monthlies</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProfitSplit_scenario</name>
        <label>ProfitSplit scenario</label>
        <locationX>178</locationX>
        <locationY>861</locationY>
        <defaultConnector>
            <targetReference>scOrrExpUpdate_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ProfitSplit_scenario_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProfitSplitScenario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_sOr_update_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scExp_NULL</name>
        <label>scExp NULL</label>
        <locationX>336</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>Loop_scExp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scExp_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scExp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Turn_sync_off_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scExpUpdate_NULL</name>
        <label>scExpUpdate NULL</label>
        <locationX>159</locationX>
        <locationY>1363</locationY>
        <defaultConnector>
            <targetReference>Update_scExpUpdate_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scExpUpdate_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scExpUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOpDedFeeMat_NULL</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOpDedFee_NULL</name>
        <label>scOpDedFee NULL</label>
        <locationX>494</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>Loop_scOpDedFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOpDedFee_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpDedFee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scExp</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOpDedFeeUpdate_NULL</name>
        <label>scOpDedFeeUpdate NULL</label>
        <locationX>164</locationX>
        <locationY>1728</locationY>
        <defaultConnector>
            <targetReference>Update_scOpDedFeeUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOpDedFeeUpdate_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpDedFeeUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Turn_sync_off</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOrrExp_NULL</name>
        <label>scOrrExp NULL</label>
        <locationX>1047</locationX>
        <locationY>1135</locationY>
        <defaultConnector>
            <targetReference>Loop_scOrrExp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOrrExp_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOrrExp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scExp</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOrrExpUpdate_NULL</name>
        <label>scOrrExpUpdate NULL</label>
        <locationX>167</locationX>
        <locationY>1233</locationY>
        <defaultConnector>
            <targetReference>Update_scOrrExpUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOrrExpUpdate_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOrrExpUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scExpUpdate_NULL</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExp_Role</name>
        <label>sExp Role</label>
        <locationX>880</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Set_ProfitFeeSplit_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>sExp_Role_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ProfitFeeSplit_value_sell</targetReference>
            </connector>
            <label>Sell</label>
        </rules>
        <rules>
            <name>sExp_Role_Spot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ProfitFeeSplit_value_spot</targetReference>
            </connector>
            <label>Spot</label>
        </rules>
        <rules>
            <name>sExp_Role_Facilitator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facilitator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ProfitFeeSplit_value_fac</targetReference>
            </connector>
            <label>Facilitator</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExp_type</name>
        <label>sExp type</label>
        <locationX>1207</locationX>
        <locationY>553</locationY>
        <defaultConnectorLabel>Unused default</defaultConnectorLabel>
        <rules>
            <name>sExp_type_services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Expense_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services fee split</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ProductType_Serv</targetReference>
            </connector>
            <label>Services</label>
        </rules>
        <rules>
            <name>sExp_type_materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Expense_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials fee split</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ProductType_Mat</targetReference>
            </connector>
            <label>Materials</label>
        </rules>
        <rules>
            <name>sExp_type_profit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Expense_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profit fee split</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Different_sOr</targetReference>
            </connector>
            <label>Profit</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpDedFee_Check</name>
        <label>sOpDedFee Check</label>
        <locationX>643</locationX>
        <locationY>1006</locationY>
        <defaultConnector>
            <targetReference>Collect_sExp_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No DedFees</defaultConnectorLabel>
        <rules>
            <name>sOpDedFee_Check_services_fac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Expense_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services fee split</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpDedFeeServFac</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sExp.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facilitator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggregate_sOpDedFeeServFac</targetReference>
            </connector>
            <label>Services, Fac</label>
        </rules>
        <rules>
            <name>sOpDedFee_Check_services_mark</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Expense_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services fee split</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpDedFeeServMark</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sExp.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sExp.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggregate_sOpDedFeeServMark</targetReference>
            </connector>
            <label>Services, Mark</label>
        </rules>
        <rules>
            <name>sOpDedFee_Check_materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Expense_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials fee split</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpDedFeeMat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggregate_sOpDedFeeMat</targetReference>
            </connector>
            <label>Materials</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpDedFee_types</name>
        <label>sOpDedFee types</label>
        <locationX>913</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Loop_scOpDedFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unused default</defaultConnectorLabel>
        <rules>
            <name>sOpDedFee_types_Mat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpDedFee.Product_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sOpDedFeeMat</targetReference>
            </connector>
            <label>Mat</label>
        </rules>
        <rules>
            <name>sOpDedFee_types_Serv_Fac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpDedFee.Product_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpDedFee.Deducted_fee_role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facilitator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sOpDedFeeServFac</targetReference>
            </connector>
            <label>Serv Fac</label>
        </rules>
        <rules>
            <name>sOpDedFee_types_Serv_Mark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpDedFee.Product_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpDedFee.Deducted_fee_role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sOpDedFeeServMark</targetReference>
            </connector>
            <label>Serv Mark</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpDedFeeMat_NULL</name>
        <label>sOpDedFeeMat NULL</label>
        <locationX>161</locationX>
        <locationY>1461</locationY>
        <defaultConnector>
            <targetReference>Collect_sOpDedFeeMat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOpDedFeeMat_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpDedFeeMat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOpDedFeeServFac_NULL</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpDedFeeServFac_NULL</name>
        <label>sOpDedFeeServFac NULL</label>
        <locationX>162</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Collect_sOpDedFeeServFac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOpDedFeeServFac_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpDedFeeServFac</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOpDedFeeServMark_NULL</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpDedFeeServMark_NULL</name>
        <label>sOpDedFeeServMark NULL</label>
        <locationX>162</locationX>
        <locationY>1636</locationY>
        <defaultConnector>
            <targetReference>Collect_sOpDedFeeServMark</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOpDedFeeServMark_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpDedFeeServMark</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scOpDedFeeUpdate_NULL</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpp_monthlies</name>
        <label>sOpp monthlies</label>
        <locationX>1245</locationX>
        <locationY>783</locationY>
        <defaultConnector>
            <targetReference>Find_scOrrExp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOpp_monthlies_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpp.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scOrrExp_month</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOrrExp_not_Exp</name>
        <label>sOrrExp not Exp</label>
        <locationX>743</locationX>
        <locationY>1262</locationY>
        <defaultConnector>
            <targetReference>Loop_scOrrExp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOrrExp_not_Exp_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrrExp.Expense__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sExp.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sExp_sOrrExp_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>fProfitFeeSplitValue</name>
        <dataType>Currency</dataType>
        <expression>{!sExp.Commission_as_percentage__c}*{!sOpp.Value_For_Services_Profit_Commissions__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Expenses, aggregate fee splits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expenses, aggregate fee splits</label>
    <loops>
        <name>Loop_scExp</name>
        <label>scExp</label>
        <locationX>185</locationX>
        <locationY>544</locationY>
        <assignNextValueToReference>sExp</assignNextValueToReference>
        <collectionReference>scExp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_sExp_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProfitSplit_scenario</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scOpDedFee</name>
        <label>scOpDedFee</label>
        <locationX>680</locationX>
        <locationY>172</locationY>
        <assignNextValueToReference>sOpDedFee</assignNextValueToReference>
        <collectionReference>scOpDedFee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_sOpDedFees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_scExp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scOrrExp</name>
        <label>scOrrExp</label>
        <locationX>874</locationX>
        <locationY>1139</locationY>
        <assignNextValueToReference>sOrrExp</assignNextValueToReference>
        <collectionReference>scOrrExp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggregate_sOrrExp_sExp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sOpDedFee_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_scExp</name>
        <label>scExp</label>
        <locationX>182</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scExp_NULL</targetReference>
        </connector>
        <filters>
            <field>Expense_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Materials fee split</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expense_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Services fee split</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expense_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Profit fee split</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Expense__c</object>
        <outputReference>scExp</outputReference>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Amount_comparator__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Expense_Type__c</queriedFields>
        <queriedFields>Opportunity_Role__c</queriedFields>
        <queriedFields>Commission_as_percentage__c</queriedFields>
        <queriedFields>Date_mth__c</queriedFields>
        <queriedFields>Date_yr__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <sortField>Opportunity_Role__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_scOpDedFee</name>
        <label>scOpDedFee</label>
        <locationX>353</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOpDedFee_NULL</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deducted Fee</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>scOpDedFee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product_name__c</queriedFields>
        <queriedFields>Deducted_fee_role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scOrrExp</name>
        <label>scOrrExp</label>
        <locationX>1254</locationX>
        <locationY>985</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOrrExp_NULL</targetReference>
        </connector>
        <filters>
            <field>OP_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Opportunity_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Role__c</elementReference>
            </value>
        </filters>
        <object>Opportunity_Role_Record__c</object>
        <outputReference>scOrrExp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>doll_comm__c</queriedFields>
        <queriedFields>Expense__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scOrrExp_month</name>
        <label>scOrrExp by month</label>
        <locationX>1120</locationX>
        <locationY>988</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOrrExp_NULL</targetReference>
        </connector>
        <filters>
            <field>OP_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Opportunity_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rec_date_mth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Date_mth__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rec_date_yr__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Date_yr__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Role__c</elementReference>
            </value>
        </filters>
        <object>Opportunity_Role_Record__c</object>
        <outputReference>scOrrExp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>doll_comm__c</queriedFields>
        <queriedFields>Expense__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sOpp</name>
        <label>sOpp</label>
        <locationX>188</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_to_Network_Member</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Invoice_to_Network_Member__c</queriedFields>
        <queriedFields>Profit_Before_Commissions__c</queriedFields>
        <queriedFields>Value_For_Services_Profit_Commissions__c</queriedFields>
        <queriedFields>Opportunity_Types__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_scExpUpdate_0</name>
        <label>scExpUpdate</label>
        <locationX>323</locationX>
        <locationY>1366</locationY>
        <connector>
            <targetReference>sOpDedFeeMat_NULL</targetReference>
        </connector>
        <inputReference>scExpUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_scOpDedFeeUpdate</name>
        <label>scOpDedFeeUpdate</label>
        <locationX>328</locationX>
        <locationY>1731</locationY>
        <connector>
            <targetReference>Turn_sync_off</targetReference>
        </connector>
        <inputReference>scOpDedFeeUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_scOr</name>
        <label>scOr</label>
        <locationX>10</locationX>
        <locationY>963</locationY>
        <connector>
            <targetReference>scOrrExpUpdate_NULL</targetReference>
        </connector>
        <inputReference>scOrUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_scOrrExpUpdate</name>
        <label>scOrrExpUpdate</label>
        <locationX>321</locationX>
        <locationY>1230</locationY>
        <connector>
            <targetReference>scExpUpdate_NULL</targetReference>
        </connector>
        <inputReference>scOrrExpUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sOpp</name>
        <label>sOpp</label>
        <locationX>326</locationX>
        <locationY>1818</locationY>
        <connector>
            <targetReference>Is_Opp_Consulting</targetReference>
        </connector>
        <inputReference>sOpp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sOpp_0</name>
        <label>sOpp</label>
        <locationX>681</locationX>
        <locationY>425</locationY>
        <inputReference>sOpp</inputReference>
    </recordUpdates>
    <startElementReference>Find_sOpp</startElementReference>
    <status>Active</status>
    <subflows>
        <name>OPE_Monthlies</name>
        <label>OPE Monthlies</label>
        <locationX>155</locationX>
        <locationY>2095</locationY>
        <flowName>Opportunity_Product_Extensions_create_monthly</flowName>
        <inputAssignments>
            <name>vOpportunityId</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vOpportunityId</assignToReference>
            <name>vOpportunityId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>scExp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>scExpUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>scOpDedFee</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>scOpDedFeeUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>scOrrExp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Role_Record__c</objectType>
    </variables>
    <variables>
        <name>scOrrExpUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Role_Record__c</objectType>
    </variables>
    <variables>
        <name>scOrUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Role__c</objectType>
    </variables>
    <variables>
        <name>sExp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sOpDedFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOpDedFeeMat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOpDedFeeServFac</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOpDedFeeServMark</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Role__c</objectType>
    </variables>
    <variables>
        <name>sOrrExp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Role_Record__c</objectType>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>vProfitSplitScenario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vsExpOppRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWaitDeliveryStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_before_monthlies</name>
        <label>Pause before monthlies</label>
        <locationX>160</locationX>
        <locationY>1996</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>WaitOneMinute</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>OPE_Monthlies</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>vOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Wait_base_time_1_minute__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <label>WaitOneMinute</label>
            <outputParameters>
                <assignToReference>vWaitDeliveryStatus</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
