flows/Expense_sync_invoice_line_item.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Collect_scInvItemFeeSplits</name>
        <label>Collect scInvItemFeeSplits</label>
        <locationX>998</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>scInvItemFeeSplits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scInvItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_sInvLineItem</name>
        <label>Init sInvLineItem</label>
        <locationX>173</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.invt__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!sExp.Expense_Type__c} {!sExp.Notes__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.invt__Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExp.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.invt__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInv.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpp.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExpenseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.invt__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.Expense_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExp.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.Expense_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExp.Expense_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scInvItemFeeSplits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_sInvLineItemCreate</name>
        <label>Populate sInvLineItemCreate</label>
        <locationX>567</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvItem.invt__Inventory_Asset_Invoice_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvLineItemCreate.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvItem.invt__Purchase_Invoice_Tax_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scInvItemFeeSplits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sExp_InvLineItem</name>
        <label>Set sExp InvLineItem</label>
        <locationX>178</locationX>
        <locationY>1345</locationY>
        <assignmentItems>
            <assignToReference>sExp.Invoice_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvLineItemCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sExp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sInvLineItem_exp_codes</name>
        <label>Set sInvLineItem exp codes</label>
        <locationX>337</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>cInvLineItemExpCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cInvLineItemExpCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_cInvLineItemExpCodes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpUpdate_touch</name>
        <label>sExpUpdate touch</label>
        <locationX>999</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>sExpUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExpenseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpUpdate.Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sExpUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>scInvItems_NULL</name>
        <label>scInvItems NULL</label>
        <locationX>760</locationX>
        <locationY>730</locationY>
        <defaultConnector>
            <targetReference>Loop_scInvItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scInvItems_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_cInvLineItemExpCodes</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExp_InvLineItem_NULL</name>
        <label>sExp InvLineItem NULL</label>
        <locationX>175</locationX>
        <locationY>958</locationY>
        <defaultConnector>
            <targetReference>Find_sInvLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sExp_InvLineItem_NULL_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp.Invoice_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_sInvLineItem</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExp_NULL</name>
        <label>sExp NULL</label>
        <locationX>329</locationX>
        <locationY>106</locationY>
        <defaultConnector>
            <targetReference>Find_sOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sExp_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInv_match_sExp_code</name>
        <label>sInv match sExp code</label>
        <locationX>564</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Loop_scInvItemFeeSplits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sInv_match_sExp_code_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sInvItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sExp.Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_sInvLineItemCreate</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInv_NULL</name>
        <label>sInv NULL</label>
        <locationX>760</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>Set_sInvLineItem_exp_codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sInv_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sInv</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_invoice</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvItem_Exp_Type</name>
        <label>sInvItem Exp Type</label>
        <locationX>999</locationX>
        <locationY>825</locationY>
        <defaultConnector>
            <targetReference>Loop_scInvItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Fee_split</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sInvItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-10201</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-10220</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-10230</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-20201</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-20220</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-20230</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5-10370</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_scInvItemFeeSplits</targetReference>
            </connector>
            <label>Fee split</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvLineItem_NULL</name>
        <label>sInvLineItem NULL</label>
        <locationX>526</locationX>
        <locationY>958</locationY>
        <defaultConnector>
            <targetReference>Delete_sInvLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sInvLineItem_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sInvLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_sInvLineItem</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpp_has_parent</name>
        <label>sOpp has parent</label>
        <locationX>173</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>sOpp_monthlies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOpp_parent_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpp.Parent_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_sInv_parent</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpp_monthlies</name>
        <label>sOpp monthlies</label>
        <locationX>333</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>Find_sInv_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOpp_monthlies_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpp.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_sInv_in_month</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpp_NULL</name>
        <label>sOpp NULL</label>
        <locationX>328</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>sOpp_has_parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOpp_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Expense, sync invoice line item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expense, sync invoice line item</label>
    <loops>
        <name>Loop_cInvLineItemExpCodes</name>
        <label>cInvLineItemExpCodes</label>
        <locationX>489</locationX>
        <locationY>736</locationY>
        <assignNextValueToReference>vInvLineItemExpCode</assignNextValueToReference>
        <collectionReference>cInvLineItemExpCodes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_scInvItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sExp_InvLineItem_NULL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scInvItemFeeSplits</name>
        <label>scInvItemFeeSplits</label>
        <locationX>339</locationX>
        <locationY>1100</locationY>
        <assignNextValueToReference>sInvItem</assignNextValueToReference>
        <collectionReference>scInvItemFeeSplits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sInv_match_sExp_code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_sInvLineItemCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scInvItems</name>
        <label>scInvItems</label>
        <locationX>761</locationX>
        <locationY>826</locationY>
        <assignNextValueToReference>sInvItem</assignNextValueToReference>
        <collectionReference>scInvItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sInvItem_Exp_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_cInvLineItemExpCodes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_sInvLineItemCreate</name>
        <label>sInvLineItemCreate</label>
        <locationX>173</locationX>
        <locationY>1242</locationY>
        <connector>
            <targetReference>Set_sExp_InvLineItem</targetReference>
        </connector>
        <inputReference>sInvLineItemCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_sInvLineItem</name>
        <label>sInvLineItem</label>
        <locationX>765</locationX>
        <locationY>958</locationY>
        <connector>
            <targetReference>Init_sInvLineItem</targetReference>
        </connector>
        <inputReference>sInvLineItem</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_scInvItems</name>
        <label>scInvItems</label>
        <locationX>757</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scInvItems_NULL</targetReference>
        </connector>
        <filters>
            <field>invt__Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>vInvLineItemExpCode</elementReference>
            </value>
        </filters>
        <object>invt__Invoice_Item__c</object>
        <outputReference>scInvItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>invt__Inventory_Asset_Invoice_Account__c</queriedFields>
        <queriedFields>invt__Purchase_Invoice_Tax_Type__c</queriedFields>
        <queriedFields>invt__Sales_Invoice_Tax_Type__c</queriedFields>
        <queriedFields>invt__Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sExp</name>
        <label>sExp</label>
        <locationX>178</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sExp_NULL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExpenseId</elementReference>
            </value>
        </filters>
        <object>Expense__c</object>
        <outputReference>sExp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_yr__c</queriedFields>
        <queriedFields>Date_mth__c</queriedFields>
        <queriedFields>Related_Opportunity__c</queriedFields>
        <queriedFields>Opportunity_Role__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Expense_Type__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>Invoice_Line_Item__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sInv_0</name>
        <label>sInv</label>
        <locationX>525</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sInv_NULL</targetReference>
        </connector>
        <filters>
            <field>Opportunity_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Opportunity_Role__c</elementReference>
            </value>
        </filters>
        <object>invt__Invoice__c</object>
        <outputReference>sInv</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sInv_in_month</name>
        <label>sInv in month</label>
        <locationX>524</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sInv_NULL</targetReference>
        </connector>
        <filters>
            <field>Date_mth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Date_mth__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_yr__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Date_yr__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Opportunity_Role__c</elementReference>
            </value>
        </filters>
        <object>invt__Invoice__c</object>
        <outputReference>sInv</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sInv_parent</name>
        <label>sInv from Parent</label>
        <locationX>523</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sInv_NULL</targetReference>
        </connector>
        <filters>
            <field>invt__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>invt__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOpp.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <object>invt__Invoice__c</object>
        <outputReference>sInv</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sInvLineItem</name>
        <label>sInvLineItem</label>
        <locationX>353</locationX>
        <locationY>960</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sInvLineItem_NULL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Invoice_Line_Item__c</elementReference>
            </value>
        </filters>
        <object>invt__Invoice_Line_Item__c</object>
        <outputReference>sInvLineItem</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sOpp</name>
        <label>sOpp</label>
        <locationX>177</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sOpp_NULL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sExp.Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Parent_Opportunity__c</queriedFields>
        <queriedFields>Opportunity_Types__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_sExp</name>
        <label>sExp</label>
        <locationX>175</locationX>
        <locationY>1440</locationY>
        <inputReference>sExp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sExpUpdate</name>
        <label>sExpUpdate</label>
        <locationX>1000</locationX>
        <locationY>721</locationY>
        <inputReference>sExpUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Find_sExp</startElementReference>
    <status>Active</status>
    <variables>
        <name>cInvLineItemExpCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scInvItemFeeSplits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invt__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>scInvItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invt__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>sExp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sExpUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sInv</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invt__Invoice__c</objectType>
    </variables>
    <variables>
        <name>sInvItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invt__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>sInvLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invt__Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>sInvLineItemCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invt__Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>sOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vExpenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vInvLineItemExpCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWaitDeliveryStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_invoice</name>
        <label>Wait for invoice</label>
        <locationX>996</locationX>
        <locationY>530</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_longer</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>sExpUpdate_touch</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>sOpp.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Wait_base_time_new_batch__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait longer</label>
            <outputParameters>
                <assignToReference>vWaitDeliveryStatus</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
