flows/Job_create_Job_Emails.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Job_emails_JobEmailsCreated</name>
        <label>Job emails JobEmailsCreated</label>
        <locationX>1523</locationX>
        <locationY>351</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>vJobOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Job emails created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>vJobId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Job_Opportunity_missing_sub_type</name>
        <label>Job / Opportunity missing sub type</label>
        <locationX>459</locationX>
        <locationY>339</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>vJobOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>vJobId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Error creating emails - Job / Opportunity missing sub type</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>JobEmailsDeleted</name>
        <label>JobEmailsDeleted</label>
        <locationX>1009</locationX>
        <locationY>235</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>IfNoSubType</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>vJobOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>vJobId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Existing Job emails deleted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NoJobEmailTemplatesFound</name>
        <label>NoJobEmailTemplatesFound</label>
        <locationX>865</locationX>
        <locationY>348</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>vJobOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>vJobId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>No Job Email Templates found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TestJobEmailsExist</name>
        <label>TestJobEmailsExist</label>
        <locationX>634</locationX>
        <locationY>145</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>No value was provided, so we&apos;ll assume emails exist and we don&apos;t want to create them again</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Emails exist, don&apos;t delete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mike@curioushuman.com.au</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddJobEmailToCollection</name>
        <label>AddJobEmailToCollection</label>
        <locationX>1422</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>scJobEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sJobEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_JEMT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateJobEmail</name>
        <label>PopulateJobEmail</label>
        <locationX>1423</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>sJobEmail.Job_email_template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmailTemplate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJobEmail.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vJobId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJobEmail.Recipient_group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmailTemplate.Recipient_group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJobEmail.Scheduling_delta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmailTemplate.Scheduling_delta_default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJobEmail.Training_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vJobTrainingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJobEmail.Related_to_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmailTemplate.Related_to_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddJobEmailToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJobEmailsCreated</name>
        <label>SetJobEmailsCreated</label>
        <locationX>1213</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>sJob.Job_emails_created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateJob</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTrainingDateSecondaryStart</name>
        <label>SetTrainingDateSecondaryStart</label>
        <locationX>1262</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>vJobTrainingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSecondaryTrainingStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateJobEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTrainingDateTrainingStart</name>
        <label>SetTrainingDateTrainingStart</label>
        <locationX>1257</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>vJobTrainingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTrainingStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateJobEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVariables</name>
        <label>SetVariables</label>
        <locationX>239</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>vJemTypeSubTypeInHouse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In-House {!sJob.Opportunity_and_job_type__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vJemTypeSubTypeOpenCourse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open Course {!sJob.Opportunity_and_job_type__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vJobOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTrainingStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Training_starts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Opportunity_record_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppSubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Opportunity_and_Job_sub_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Opportunity_and_job_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSecondaryTrainingStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Secondary_training_starts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vJobEmailsCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Job_emails_created__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monitoring_and_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_InHouse_emails</name>
        <label>Use In-House emails</label>
        <locationX>415</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>vJemTypeSubTypeInHouse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In-House Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppSubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incompany</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfJobEmailsCreated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CurrentJobEmailsExist</name>
        <label>CurrentJobEmailsExist</label>
        <locationX>419</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>IfNoSubType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoJobEmailsExist</defaultConnectorLabel>
        <rules>
            <name>JobEmailsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scJobEmailsCurrent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteCurrentEmails</targetReference>
            </connector>
            <label>JobEmailsExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeleteCurrentEmails</name>
        <label>DeleteCurrentEmails</label>
        <locationX>631</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>TestJobEmailsExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoValueProvided</defaultConnectorLabel>
        <rules>
            <name>YesDelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDeleteAll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteCurrentJobEmails</targetReference>
            </connector>
            <label>YesDelete</label>
        </rules>
        <rules>
            <name>NoDont</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDeleteAll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfNoSubType</targetReference>
            </connector>
            <label>NoDelete (create duplicates)</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfJobEmailsCreated</name>
        <label>IfJobEmailsCreated</label>
        <locationX>64</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>FindJobEmails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>NotCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vJobEmailsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfNoSubType</targetReference>
            </connector>
            <label>NotCreated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNoSubType</name>
        <label>IfNoSubType</label>
        <locationX>59</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>OppRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasSubType</defaultConnectorLabel>
        <rules>
            <name>NoSubType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppSubType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Opportunity_missing_sub_type</targetReference>
            </connector>
            <label>NoSubType</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_House_Training_vOppSubType</name>
        <label>In-House-Training-vOppSubType</label>
        <locationX>458</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>In-House-Training-vOppSubType-Else</defaultConnectorLabel>
        <rules>
            <name>Incompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incompany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Training_Incompany_by_ENSI</targetReference>
            </connector>
            <label>Incompany</label>
        </rules>
        <rules>
            <name>Contains_CDP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppSubType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CDP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Training_CDP</targetReference>
            </connector>
            <label>Contains CDP</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_House_vOppType</name>
        <label>In-House-vOppType</label>
        <locationX>252</locationX>
        <locationY>451</locationY>
        <defaultConnectorLabel>In-House-vOppType-Else</defaultConnectorLabel>
        <rules>
            <name>Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_House_Training_vOppSubType</targetReference>
            </connector>
            <label>Training</label>
        </rules>
        <rules>
            <name>Organisational_transformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organisational transformation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Organisational_transformation_vOppSubType</targetReference>
            </connector>
            <label>Organisational transformation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monitoring_and_Manual</name>
        <label>HACK Monitoring and Manual</label>
        <locationX>417</locationX>
        <locationY>18</locationY>
        <defaultConnector>
            <targetReference>IfJobEmailsCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT MnM</defaultConnectorLabel>
        <rules>
            <name>MandM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vManualEmailCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_InHouse_emails</targetReference>
            </connector>
            <label>MandM</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppRecordType</name>
        <label>OppRecordType</label>
        <locationX>57</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Find_Open_Course</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Course</defaultConnectorLabel>
        <rules>
            <name>OcPax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OC PAX</stringValue>
                </rightValue>
            </conditions>
            <label>OcPax</label>
        </rules>
        <rules>
            <name>In_House</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-House</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_House_vOppType</targetReference>
            </connector>
            <label>In-House</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisational_transformation_vOppSubType</name>
        <label>Organisational transformation-vOppSubType</label>
        <locationX>465</locationX>
        <locationY>536</locationY>
        <defaultConnectorLabel>Organisational transformation-vOppSubType-Else</defaultConnectorLabel>
        <rules>
            <name>WLD_training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppSubType</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>WLD training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Training_WLD</targetReference>
            </connector>
            <label>WLD training</label>
        </rules>
        <rules>
            <name>WLD_Managed_by_ENSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training run by WLD trainers (Managed by ENSI)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Training_Incompany_by_WLD</targetReference>
            </connector>
            <label>WLD Managed by ENSI</label>
        </rules>
    </decisions>
    <decisions>
        <name>RelatedToWhichDate</name>
        <label>RelatedToWhichDate</label>
        <locationX>1052</locationX>
        <locationY>687</locationY>
        <defaultConnectorLabel>NoDate</defaultConnectorLabel>
        <rules>
            <name>TrainingDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmailTemplate.Related_to_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTrainingDateTrainingStart</targetReference>
            </connector>
            <label>TrainingDate</label>
        </rules>
        <rules>
            <name>SecondaryTrainingDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmailTemplate.Related_to_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTrainingDateSecondaryStart</targetReference>
            </connector>
            <label>SecondaryTrainingDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>scJobEmailTemplatesNotNull</name>
        <label>scJobEmailTemplatesNotNull</label>
        <locationX>863</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>NoJobEmailTemplatesFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scJobEmailTemplates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foreach_JEMT</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <interviewLabel>Job, create Job Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job, create Job Emails</label>
    <loops>
        <name>Foreach_JEMT</name>
        <label>Foreach JEMT</label>
        <locationX>1050</locationX>
        <locationY>527</locationY>
        <assignNextValueToReference>sJobEmailTemplate</assignNextValueToReference>
        <collectionReference>scJobEmailTemplates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RelatedToWhichDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateJobEmails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateJobEmails</name>
        <label>CreateJobEmails</label>
        <locationX>1052</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>SetJobEmailsCreated</targetReference>
        </connector>
        <inputReference>scJobEmails</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteCurrentJobEmails</name>
        <label>DeleteCurrentJobEmails</label>
        <locationX>835</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>JobEmailsDeleted</targetReference>
        </connector>
        <inputReference>scJobEmailsCurrent</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Open_Course</name>
        <label>Find Open Course</label>
        <locationX>704</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scJobEmailTemplatesNotNull</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_record_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open Course (OC)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_type_and_sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open Course All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_type_and_sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJemTypeSubTypeOpenCourse</elementReference>
            </value>
        </filters>
        <object>Job_email_template__c</object>
        <outputReference>scJobEmailTemplates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Recipient_group__c</queriedFields>
        <queriedFields>Scheduling_delta_default__c</queriedFields>
        <queriedFields>Related_to_date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Training_CDP</name>
        <label>Find Training CDP</label>
        <locationX>693</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scJobEmailTemplatesNotNull</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_record_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_type_and_sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House Training CDP All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_type_and_sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJemTypeSubTypeInHouse</elementReference>
            </value>
        </filters>
        <object>Job_email_template__c</object>
        <outputReference>scJobEmailTemplates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Recipient_group__c</queriedFields>
        <queriedFields>Scheduling_delta_default__c</queriedFields>
        <queriedFields>Related_to_date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Training_Incompany_by_ENSI</name>
        <label>Find Training Incompany by ENSI</label>
        <locationX>693</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scJobEmailTemplatesNotNull</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_record_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_type_and_sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House Training Incompany All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_type_and_sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House Training Incompany by ENSI</stringValue>
            </value>
        </filters>
        <object>Job_email_template__c</object>
        <outputReference>scJobEmailTemplates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Recipient_group__c</queriedFields>
        <queriedFields>Scheduling_delta_default__c</queriedFields>
        <queriedFields>Related_to_date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Training_Incompany_by_WLD</name>
        <label>Find Training Incompany by WLD</label>
        <locationX>692</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scJobEmailTemplatesNotNull</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_record_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_type_and_sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House Training Incompany All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_type_and_sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House Training Incompany by WLD</stringValue>
            </value>
        </filters>
        <object>Job_email_template__c</object>
        <outputReference>scJobEmailTemplates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Recipient_group__c</queriedFields>
        <queriedFields>Scheduling_delta_default__c</queriedFields>
        <queriedFields>Related_to_date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Training_WLD</name>
        <label>Find Training WLD</label>
        <locationX>697</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scJobEmailTemplatesNotNull</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_record_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_job_type_and_sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-House Training WLD</stringValue>
            </value>
        </filters>
        <object>Job_email_template__c</object>
        <outputReference>scJobEmailTemplates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Recipient_group__c</queriedFields>
        <queriedFields>Scheduling_delta_default__c</queriedFields>
        <queriedFields>Related_to_date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindJob</name>
        <label>FindJob</label>
        <locationX>58</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetVariables</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJobId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>sJob</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Opportunity_record_type__c</queriedFields>
        <queriedFields>Opportunity_and_Job_sub_type__c</queriedFields>
        <queriedFields>Opportunity_and_job_type__c</queriedFields>
        <queriedFields>Training_starts__c</queriedFields>
        <queriedFields>Secondary_training_starts__c</queriedFields>
        <queriedFields>Job_emails_created__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindJobEmails</name>
        <label>FindJobEmails</label>
        <locationX>249</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentJobEmailsExist</targetReference>
        </connector>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJobId</elementReference>
            </value>
        </filters>
        <object>Job_email__c</object>
        <outputReference>scJobEmailsCurrent</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateJob</name>
        <label>UpdateJob</label>
        <locationX>1358</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Job_emails_JobEmailsCreated</targetReference>
        </connector>
        <inputReference>sJob</inputReference>
    </recordUpdates>
    <startElementReference>FindJob</startElementReference>
    <status>Active</status>
    <variables>
        <name>scJobEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_email__c</objectType>
    </variables>
    <variables>
        <name>scJobEmailsCurrent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_email__c</objectType>
    </variables>
    <variables>
        <name>scJobEmailTemplates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_email_template__c</objectType>
    </variables>
    <variables>
        <name>sJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>sJobEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_email__c</objectType>
    </variables>
    <variables>
        <name>sJobEmailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_email_template__c</objectType>
    </variables>
    <variables>
        <name>vDeleteAll</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vJemTypeSubTypeInHouse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJemTypeSubTypeOpenCourse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobEmailsCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobTrainingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vManualEmailCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOppRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOppSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSecondaryTrainingStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTrainingStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
