flows/JobEmail_Populate_contact_Facilitator_and_Marketer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TaskReviewEmail</name>
        <label>TaskReviewEmail</label>
        <locationX>760</locationX>
        <locationY>970</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>UpdateJobEmail</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>sJob.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sJob.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Job email failed - {!sJobEmail.Id} - {!vErrors}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddContactToCollection</name>
        <label>AddContactToCollection</label>
        <locationX>263</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>scContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachNetworkMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddErrorNoNetMemFound</name>
        <label>AddErrorNoNetMemFound</label>
        <locationX>441</locationX>
        <locationY>841</locationY>
        <assignmentItems>
            <assignToReference>vErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Network Members found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetJemFailed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddErrorNoOppFound</name>
        <label>AddErrorNoOppFound</label>
        <locationX>762</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>vErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Opp found on Job</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetJemFailed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddFac1ToCollection</name>
        <label>AddFac1ToCollection</label>
        <locationX>486</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>vcNetworkMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunity.Facilitator_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fac2Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddFac2ToCollection</name>
        <label>AddFac2ToCollection</label>
        <locationX>488</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>vcNetworkMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunity.Facilitator_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fac3Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddFac3ToCollection</name>
        <label>AddFac3ToCollection</label>
        <locationX>489</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>vcNetworkMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunity.Facilitator_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fac4Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddFac4ToCollection</name>
        <label>AddFac4ToCollection</label>
        <locationX>492</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>vcNetworkMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunity.Facilitator_4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NetworkMembersNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSell1ToCollection</name>
        <label>AddSell1ToCollection</label>
        <locationX>480</locationX>
        <locationY>28</locationY>
        <assignmentItems>
            <assignToReference>vcNetworkMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunity.Sell_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sell2Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSell2ToCollection</name>
        <label>AddSell2ToCollection</label>
        <locationX>480</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>vcNetworkMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunity.Sell_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spot1Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSpot1ToCollection</name>
        <label>AddSpot1ToCollection</label>
        <locationX>484</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>vcNetworkMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunity.Spot_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spot2Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSpot2ToCollection</name>
        <label>AddSpot2ToCollection</label>
        <locationX>486</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>vcNetworkMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunity.Spot_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fac1Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateContact</name>
        <label>PopulateContact</label>
        <locationX>38</locationX>
        <locationY>1144</locationY>
        <assignmentItems>
            <assignToReference>sContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Send_Job_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmail.Job_email_template_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.eBites_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.eBites_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_NIP_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.NIP_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_PFQ_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.PFQ_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Three_Month_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Three_Month_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_eLearn_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.eLearn_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Last_Job_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_email_custom_paragraph__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmail.Custom_paragraph_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_email_custom_paragraph_empty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCustomParaEmpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactAlreadyInCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJemFailed</name>
        <label>SetJemFailed</label>
        <locationX>761</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>sJobEmail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskReviewEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJemSuccess</name>
        <label>SetJemSuccess</label>
        <locationX>587</locationX>
        <locationY>1136</locationY>
        <assignmentItems>
            <assignToReference>sJobEmail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateJobEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetParaNotBlank</name>
        <label>SetParaNotBlank</label>
        <locationX>21</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>vCustomParaEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindJob</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ContactAlreadyInCollection</name>
        <label>ContactAlreadyInCollection</label>
        <locationX>256</locationX>
        <locationY>1144</locationY>
        <defaultConnector>
            <targetReference>AddContactToCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContactNotInCollection</defaultConnectorLabel>
        <rules>
            <name>ContactInCollection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scContacts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>sContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForeachNetworkMember</targetReference>
            </connector>
            <label>ContactInCollection</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomParagraph</name>
        <label>CustomParagraph</label>
        <locationX>171</locationX>
        <locationY>28</locationY>
        <defaultConnector>
            <targetReference>FindJob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmail.Custom_paragraph_text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetParaNotBlank</targetReference>
            </connector>
            <label>NotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOppExist</name>
        <label>DoesOppExist</label>
        <locationX>20</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>AddErrorNoOppFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OppNull</defaultConnectorLabel>
        <rules>
            <name>OppExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJob.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindOpportunity</targetReference>
            </connector>
            <label>OppExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fac1Check</name>
        <label>Fac1Check</label>
        <locationX>319</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>Fac2Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fac1Null</defaultConnectorLabel>
        <rules>
            <name>Fac1Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Facilitator_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddFac1ToCollection</targetReference>
            </connector>
            <label>Fac1Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fac2Check</name>
        <label>Fac2Check</label>
        <locationX>321</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Fac3Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fac2Null</defaultConnectorLabel>
        <rules>
            <name>Fac2Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Facilitator_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddFac2ToCollection</targetReference>
            </connector>
            <label>Fac2Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fac3Check</name>
        <label>Fac3Check</label>
        <locationX>322</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Fac4Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fac3Null</defaultConnectorLabel>
        <rules>
            <name>Fac3Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Facilitator_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddFac3ToCollection</targetReference>
            </connector>
            <label>Fac3Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fac4Check</name>
        <label>Fac4Check</label>
        <locationX>325</locationX>
        <locationY>675</locationY>
        <defaultConnector>
            <targetReference>NetworkMembersNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fac4Null</defaultConnectorLabel>
        <rules>
            <name>Fac4Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Facilitator_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddFac4ToCollection</targetReference>
            </connector>
            <label>Fac4Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>NetworkMembersNull</name>
        <label>NetworkMembersNull</label>
        <locationX>42</locationX>
        <locationY>837</locationY>
        <defaultConnector>
            <targetReference>AddErrorNoNetMemFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NetworkMembersNullTrue</defaultConnectorLabel>
        <rules>
            <name>NetworkMembersNullFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vcNetworkMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForeachNetworkMember</targetReference>
            </connector>
            <label>NetworkMembersNullFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sell1Check</name>
        <label>Sell1Check</label>
        <locationX>313</locationX>
        <locationY>28</locationY>
        <defaultConnector>
            <targetReference>Sell2Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sell1Null</defaultConnectorLabel>
        <rules>
            <name>Sell1Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Sell_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSell1ToCollection</targetReference>
            </connector>
            <label>Sell1Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sell2Check</name>
        <label>Sell2Check</label>
        <locationX>313</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>Spot1Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sell2Null</defaultConnectorLabel>
        <rules>
            <name>Sell2Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Sell_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSell2ToCollection</targetReference>
            </connector>
            <label>Sell2Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendFailed</name>
        <label>SendFailed</label>
        <locationX>437</locationX>
        <locationY>969</locationY>
        <defaultConnector>
            <targetReference>UpdateContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SendFailedFalse</defaultConnectorLabel>
        <rules>
            <name>SendFailedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmail.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskReviewEmail</targetReference>
            </connector>
            <label>SendFailedTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spot1Check</name>
        <label>Spot1Check</label>
        <locationX>317</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Spot2Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spot1Null</defaultConnectorLabel>
        <rules>
            <name>Spot1Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Spot_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSpot1ToCollection</targetReference>
            </connector>
            <label>Spot1Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spot2Check</name>
        <label>Spot2Check</label>
        <locationX>319</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Fac1Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spot2Null</defaultConnectorLabel>
        <rules>
            <name>Spot2Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Spot_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSpot2ToCollection</targetReference>
            </connector>
            <label>Spot2Exists</label>
        </rules>
    </decisions>
    <interviewLabel>JobEmail, Populate contact, Facilitator and Marketer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobEmail, Populate contact, Facilitator and Marketer</label>
    <loops>
        <name>ForeachNetworkMember</name>
        <label>ForeachNetworkMember</label>
        <locationX>43</locationX>
        <locationY>963</locationY>
        <assignNextValueToReference>vContactId</assignNextValueToReference>
        <collectionReference>vcNetworkMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PopulateContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendFailed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindJob</name>
        <label>FindJob</label>
        <locationX>25</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesOppExist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sJobEmail.Job__c</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>sJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>eBites_included__c</queriedFields>
        <queriedFields>eLearn_included__c</queriedFields>
        <queriedFields>NIP_Survey_included__c</queriedFields>
        <queriedFields>PFQ_Survey_included__c</queriedFields>
        <queriedFields>Three_Month_Survey_included__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindJobEmail</name>
        <label>FindJobEmail</label>
        <locationX>25</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomParagraph</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJobEmailId</elementReference>
            </value>
        </filters>
        <object>Job_email__c</object>
        <outputReference>sJobEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job_email_template_name__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Custom_paragraph_text__c</queriedFields>
        <queriedFields>Job__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindOpportunity</name>
        <label>FindOpportunity</label>
        <locationX>19</locationX>
        <locationY>622</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sell1Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sJob.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sell_1__c</queriedFields>
        <queriedFields>Sell_2__c</queriedFields>
        <queriedFields>Spot_1__c</queriedFields>
        <queriedFields>Spot_2__c</queriedFields>
        <queriedFields>Facilitator_1__c</queriedFields>
        <queriedFields>Facilitator_2__c</queriedFields>
        <queriedFields>Facilitator_3__c</queriedFields>
        <queriedFields>Facilitator_4__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>UpdateContacts</label>
        <locationX>433</locationX>
        <locationY>1135</locationY>
        <connector>
            <targetReference>SetJemSuccess</targetReference>
        </connector>
        <inputReference>scContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateJobEmail</name>
        <label>UpdateJobEmail</label>
        <locationX>756</locationX>
        <locationY>1136</locationY>
        <inputReference>sJobEmail</inputReference>
    </recordUpdates>
    <startElementReference>FindJobEmail</startElementReference>
    <status>Active</status>
    <variables>
        <name>scContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>scContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>scPax</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>sJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>sJobEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_email__c</objectType>
    </variables>
    <variables>
        <name>sOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sPax</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>vcNetworkMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCustomParaEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobEmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
