flows/JobEmail_Populate_contact_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TaskReviewEmail</name>
        <label>TaskReviewEmail</label>
        <locationX>530</locationX>
        <locationY>431</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>sJob.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>vJobEmailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Review job email - {!vErrors}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TaskSetTestContact</name>
        <label>TaskSetTestContact</label>
        <locationX>366</locationX>
        <locationY>98</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>sJob.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>vJobEmailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>To test the email, set a Test Contact</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TaskSuccess</name>
        <label>TaskSuccess</label>
        <locationX>529</locationX>
        <locationY>556</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>sJob.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>vJobEmailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Test email sent successfully - {!sJob.Language_code__c}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddErrorNoOppFound</name>
        <label>AddErrorNoOppFound</label>
        <locationX>341</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>vErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Opp found on Job</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskReviewEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateContact</name>
        <label>PopulateContact</label>
        <locationX>118</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>sContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmail.Test_contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Send_Job_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmail.Job_email_template_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.eBites_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.eBites_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_NIP_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.NIP_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_PFQ_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.PFQ_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Three_Month_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Three_Month_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_eLearn_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.eLearn_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Last_Job_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_email_custom_paragraph__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmail.Custom_paragraph_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_email_custom_paragraph_empty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCustomParaEmpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetParaNotBlank</name>
        <label>SetParaNotBlank</label>
        <locationX>361</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>vCustomParaEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindJob</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CustomParagraph</name>
        <label>CustomParagraph</label>
        <locationX>110</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>FindJob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>NotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmail.Custom_paragraph_text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetParaNotBlank</targetReference>
            </connector>
            <label>NotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOppExist</name>
        <label>DoesOppExist</label>
        <locationX>112</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>AddErrorNoOppFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OppNull</defaultConnectorLabel>
        <rules>
            <name>OppExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJob.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulateContact</targetReference>
            </connector>
            <label>OppExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesTestContactExist</name>
        <label>DoesTestContactExist</label>
        <locationX>107</locationX>
        <locationY>97</locationY>
        <defaultConnector>
            <targetReference>CustomParagraph</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TestContactSet</defaultConnectorLabel>
        <rules>
            <name>NoTestContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmail.Test_contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskSetTestContact</targetReference>
            </connector>
            <label>NoTestContact</label>
        </rules>
    </decisions>
    <interviewLabel>JobEmail, Populate contact, Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobEmail, Populate contact, Test</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindJob</name>
        <label>FindJob</label>
        <locationX>110</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesOppExist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sJobEmail.Job__c</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>sJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>eBites_included__c</queriedFields>
        <queriedFields>eLearn_included__c</queriedFields>
        <queriedFields>NIP_Survey_included__c</queriedFields>
        <queriedFields>PFQ_Survey_included__c</queriedFields>
        <queriedFields>Three_Month_Survey_included__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Language_code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindJobEmail</name>
        <label>FindJobEmail</label>
        <locationX>107</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesTestContactExist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJobEmailId</elementReference>
            </value>
        </filters>
        <object>Job_email__c</object>
        <outputReference>sJobEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Job_email_template_name__c</queriedFields>
        <queriedFields>Job__c</queriedFields>
        <queriedFields>Test_contact__c</queriedFields>
        <queriedFields>Custom_paragraph__c</queriedFields>
        <queriedFields>Custom_paragraph_text__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>329</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>TaskSuccess</targetReference>
        </connector>
        <inputReference>sContact</inputReference>
    </recordUpdates>
    <startElementReference>FindJobEmail</startElementReference>
    <status>Active</status>
    <variables>
        <name>scContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>sJobEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_email__c</objectType>
    </variables>
    <variables>
        <name>sUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vcTestContacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCustomParaEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
