flows/JobEmail_Populate_contact_NAM_and_Admin.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TaskReviewEmail</name>
        <label>TaskReviewEmail</label>
        <locationX>1043</locationX>
        <locationY>582</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>UpdateJobEmail</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>sJob.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sJob.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Job email failed - {!sJobEmail.Id} - {!vErrors}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddContactToCollection</name>
        <label>AddContactToCollection</label>
        <locationX>543</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>scContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddErrorNoContact</name>
        <label>AddErrorNoContact</label>
        <locationX>122</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>vErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;Participant missing contact - &quot; &amp; {!sContactRole.Role} &amp; &quot;. &quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetJemFailed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddErrorNoContactRoles</name>
        <label>AddErrorNoContactRoles</label>
        <locationX>718</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>vErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No Contact Roles found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetJemFailed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddErrorNoOpp</name>
        <label>AddErrorNoOpp</label>
        <locationX>1039</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>vErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No Opportunity found on this Job</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetJemFailed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateContact</name>
        <label>PopulateContact</label>
        <locationX>545</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>sContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sContactRole.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Send_Job_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmail.Job_email_template_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.eBites_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.eBites_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_eLearn_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.eLearn_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_NIP_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.NIP_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_PFQ_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.PFQ_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Three_Month_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Three_Month_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Last_Job_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_email_custom_paragraph__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmail.Custom_paragraph_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_email_custom_paragraph_empty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCustomParaEmpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContactToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJemFailed</name>
        <label>SetJemFailed</label>
        <locationX>1039</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>sJobEmail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskReviewEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJemFailed_0</name>
        <label>SetJemFailed</label>
        <locationX>124</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>sJobEmail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJemSuccess</name>
        <label>SetJemSuccess</label>
        <locationX>875</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>sJobEmail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateJobEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetParaNotBlank</name>
        <label>SetParaNotBlank</label>
        <locationX>332</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>vCustomParaEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindJob</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ContactRoleHasContact</name>
        <label>ContactRoleHasContact</label>
        <locationX>328</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>AddErrorNoContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasContactFalse</defaultConnectorLabel>
        <rules>
            <name>HasContactTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sContactRole.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulateContact</targetReference>
            </connector>
            <label>HasContactTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactRolesNull</name>
        <label>ContactRolesNull</label>
        <locationX>325</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>AddErrorNoContactRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContactRolesNullTrue</defaultConnectorLabel>
        <rules>
            <name>ContactRolesNullFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scContactRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForeachContactRole</targetReference>
            </connector>
            <label>ContactRolesNullFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomParagraph</name>
        <label>CustomParagraph</label>
        <locationX>328</locationX>
        <locationY>90</locationY>
        <defaultConnector>
            <targetReference>FindJob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmail.Custom_paragraph_text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetParaNotBlank</targetReference>
            </connector>
            <label>NotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOppExist</name>
        <label>DoesOppExist</label>
        <locationX>331</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>AddErrorNoOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OppNull</defaultConnectorLabel>
        <rules>
            <name>OppExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJob.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContactRoles</targetReference>
            </connector>
            <label>OppExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendFailed</name>
        <label>SendFailed</label>
        <locationX>720</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>UpdateContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SendFailedFalse</defaultConnectorLabel>
        <rules>
            <name>SendFailedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmail.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskReviewEmail</targetReference>
            </connector>
            <label>SendFailedTrue</label>
        </rules>
    </decisions>
    <interviewLabel>JobEmail, Populate contact, NAM and Admin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobEmail, Populate contact, NAM and Admin</label>
    <loops>
        <name>ForeachContactRole</name>
        <label>ForeachContactRole</label>
        <locationX>326</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>sContactRole</assignNextValueToReference>
        <collectionReference>scContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContactRoleHasContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendFailed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindContactRoles</name>
        <label>FindContactRoles</label>
        <locationX>125</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactRolesNull</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sJob.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>scContactRoles</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindJob</name>
        <label>FindJob</label>
        <locationX>131</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesOppExist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sJobEmail.Job__c</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>sJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>eBites_included__c</queriedFields>
        <queriedFields>eLearn_included__c</queriedFields>
        <queriedFields>NIP_Survey_included__c</queriedFields>
        <queriedFields>PFQ_Survey_included__c</queriedFields>
        <queriedFields>Three_Month_Survey_included__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindJobEmail</name>
        <label>FindJobEmail</label>
        <locationX>135</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomParagraph</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJobEmailId</elementReference>
            </value>
        </filters>
        <object>Job_email__c</object>
        <outputReference>sJobEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job_email_template_name__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Custom_paragraph_text__c</queriedFields>
        <queriedFields>Job__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>UpdateContacts</label>
        <locationX>720</locationX>
        <locationY>772</locationY>
        <connector>
            <targetReference>SetJemSuccess</targetReference>
        </connector>
        <inputReference>scContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateJobEmail</name>
        <label>UpdateJobEmail</label>
        <locationX>1044</locationX>
        <locationY>773</locationY>
        <inputReference>sJobEmail</inputReference>
    </recordUpdates>
    <startElementReference>FindJobEmail</startElementReference>
    <status>Draft</status>
    <variables>
        <name>scContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>scContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>sJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>sJobEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_email__c</objectType>
    </variables>
    <variables>
        <name>vCustomParaEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
