flows/JobEmail_Populate_contact_PAX.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TaskReviewEmail</name>
        <label>TaskReviewEmail</label>
        <locationX>975</locationX>
        <locationY>439</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>UpdateJobEmail</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>sJob.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sJob.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Job email failed - {!sJobEmail.Id} - {!vErrors}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddContactToCollection</name>
        <label>AddContactToCollection</label>
        <locationX>479</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>scContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachPax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddErrorNoContact</name>
        <label>AddErrorNoContact</label>
        <locationX>62</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>vErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Participant missing contact - {!sPax.Participant_Number_Lookup__c}.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetJemFailed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddErrorNoPaxFound</name>
        <label>AddErrorNoPaxFound</label>
        <locationX>658</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>vErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No PAX found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskReviewEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateContact</name>
        <label>PopulateContact</label>
        <locationX>482</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>sContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Send_Job_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmail.Job_email_template_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.eBites_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.eBites_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_eLearn_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.eLearn_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_NIP_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.NIP_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_PFQ_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.PFQ_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Three_Month_Survey_included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Three_Month_Survey_included__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Last_Job_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJob.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_Evaluation_Survey_PAX_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Evaluation_Survey_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_NIP_Survey_PAX_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.NIP_Survey_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_PFQ_Survey_PAX_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.PFQ_Survey_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_RAIT_Post_Survey_PAX_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Post_RAIT_Survey_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_Three_Month_Survey_PAX_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Three_Month_Survey_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_email_custom_paragraph__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sJobEmail.Custom_paragraph_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_email_custom_paragraph_empty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCustomParaEmpty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_Survey_3_month_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Survey_3_month_status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_Survey_Evaluation_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Survey_Evaluation_status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_Survey_NIP_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Survey_NIP_status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_Survey_PFQ_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Survey_PFQ_status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_Survey_RAIT_Pre_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Survey_RAIT_pre_status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sContact.Job_Survey_RAIT_post_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPax.Survey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContactToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJemFailed</name>
        <label>SetJemFailed</label>
        <locationX>466</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>sJobEmail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddErrorNoPaxFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJemFailed_0</name>
        <label>SetJemFailed</label>
        <locationX>60</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>sJobEmail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachPax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJemSuccess</name>
        <label>SetJemSuccess</label>
        <locationX>811</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>sJobEmail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateJobEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetParaNotBlank</name>
        <label>SetParaNotBlank</label>
        <locationX>261</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>vCustomParaEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindJob</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CustomParagraph</name>
        <label>CustomParagraph</label>
        <locationX>67</locationX>
        <locationY>101</locationY>
        <defaultConnector>
            <targetReference>FindJob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>NotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmail.Custom_paragraph_text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetParaNotBlank</targetReference>
            </connector>
            <label>NotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaxHasContact</name>
        <label>PaxHasContact</label>
        <locationX>264</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>AddErrorNoContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasContactFalse</defaultConnectorLabel>
        <rules>
            <name>HasContactTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPax.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulateContact</targetReference>
            </connector>
            <label>HasContactTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaxNull</name>
        <label>PaxNull</label>
        <locationX>261</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>SetJemFailed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PaxNullTrue</defaultConnectorLabel>
        <rules>
            <name>PaxNullFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scPax</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForeachPax</targetReference>
            </connector>
            <label>PaxNullFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendFailed</name>
        <label>SendFailed</label>
        <locationX>656</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>UpdateContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SendFailedFalse</defaultConnectorLabel>
        <rules>
            <name>SendFailedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sJobEmail.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskReviewEmail</targetReference>
            </connector>
            <label>SendFailedTrue</label>
        </rules>
    </decisions>
    <interviewLabel>JobEmail, Populate contact, PAX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobEmail, Populate contact, PAX</label>
    <loops>
        <name>ForeachPax</name>
        <label>ForeachPax</label>
        <locationX>262</locationX>
        <locationY>432</locationY>
        <assignNextValueToReference>sPax</assignNextValueToReference>
        <collectionReference>scPax</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PaxHasContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendFailed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindJob</name>
        <label>FindJob</label>
        <locationX>65</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindPax</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sJobEmail.Job__c</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>sJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>eBites_included__c</queriedFields>
        <queriedFields>eLearn_included__c</queriedFields>
        <queriedFields>NIP_Survey_included__c</queriedFields>
        <queriedFields>PFQ_Survey_included__c</queriedFields>
        <queriedFields>Three_Month_Survey_included__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindJobEmail</name>
        <label>FindJobEmail</label>
        <locationX>69</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomParagraph</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJobEmailId</elementReference>
            </value>
        </filters>
        <object>Job_email__c</object>
        <outputReference>sJobEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job_email_template_name__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Custom_paragraph_text__c</queriedFields>
        <queriedFields>Job__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindPax</name>
        <label>FindPax</label>
        <locationX>61</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PaxNull</targetReference>
        </connector>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sJobEmail.Job__c</elementReference>
            </value>
        </filters>
        <object>Participant__c</object>
        <outputReference>scPax</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>PFQ_Survey_URL__c</queriedFields>
        <queriedFields>Evaluation_Survey_URL__c</queriedFields>
        <queriedFields>NIP_Survey_URL__c</queriedFields>
        <queriedFields>Post_RAIT_Survey_URL__c</queriedFields>
        <queriedFields>Three_Month_Survey_URL__c</queriedFields>
        <queriedFields>Survey_3_month_status__c</queriedFields>
        <queriedFields>Survey_Evaluation_status__c</queriedFields>
        <queriedFields>Survey_NIP_status__c</queriedFields>
        <queriedFields>Survey_PFQ_status__c</queriedFields>
        <queriedFields>Survey_RAIT_pre_status__c</queriedFields>
        <queriedFields>Survey__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>UpdateContacts</label>
        <locationX>656</locationX>
        <locationY>629</locationY>
        <connector>
            <targetReference>SetJemSuccess</targetReference>
        </connector>
        <inputReference>scContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateJobEmail</name>
        <label>UpdateJobEmail</label>
        <locationX>975</locationX>
        <locationY>630</locationY>
        <inputReference>sJobEmail</inputReference>
    </recordUpdates>
    <startElementReference>FindJobEmail</startElementReference>
    <status>Draft</status>
    <variables>
        <name>scContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>scPax</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>sJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>sJobEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_email__c</objectType>
    </variables>
    <variables>
        <name>sPax</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>vCustomParaEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJobEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
