flows/OcPax_Auto_create_Product.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_PBE_not_found</name>
        <label>Error - PBE not found</label>
        <locationX>438</locationX>
        <locationY>616</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>sOpportunity.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Error creating product - Price book entry not found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sOpportunity.Parent_Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_product_not_found</name>
        <label>Error - product not found</label>
        <locationX>57</locationX>
        <locationY>393</locationY>
        <actionName>New_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>sOpportunity.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Error creating product - product not found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sOpportunity.Parent_Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Init_sOP_create</name>
        <label>Init sOP create</label>
        <locationX>287</locationX>
        <locationY>1098</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductCreate.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductCreate.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductCreate.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceBookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductCreate.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceBookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductCreate.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductCreate.Related_to_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_sOP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_vRegion_Intl</name>
        <label>Set vRegion Intl.</label>
        <locationX>575</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>vRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>International</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOpp_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vProductAlreadyExists_True</name>
        <label>vProductAlreadyExists = True</label>
        <locationX>693</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>vProductAlreadyExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scOP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vProductName_Berlin</name>
        <label>vProductName Berlin</label>
        <locationX>992</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>vProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Berlin Open Course</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_sP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vProductName_Fundamentals</name>
        <label>vProductName Fundamentals</label>
        <locationX>1003</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>vProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation &amp; Influencing Fundamentals ({!vRegion})</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_sP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vProductName_is_Level_1</name>
        <label>vProductName Level 1</label>
        <locationX>1001</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>vProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Level 1 - Professional Negotiation &amp; Influencing ({!vRegion})</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_sP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vProductName_Level2</name>
        <label>vProductName Level 2</label>
        <locationX>1001</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>vProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Level 2 - Strategic Negotiation &amp; Influencing ({!vRegion})</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_sP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vProductName_Level3</name>
        <label>vProductName Level 3</label>
        <locationX>998</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>vProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Level 3 - Expert Negotiation &amp; Influencing ({!vRegion})</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_sP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vProductName_Refresher</name>
        <label>vProductName Refresher</label>
        <locationX>994</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>vProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation &amp; Influencing Refresher ({!vRegion})</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_sP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_scOP_NULL</name>
        <label>If scOP NULL</label>
        <locationX>215</locationX>
        <locationY>738</locationY>
        <defaultConnector>
            <targetReference>If_sOP_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scOP NULL</defaultConnectorLabel>
        <rules>
            <name>scOP_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scOP</targetReference>
            </connector>
            <label>scOP NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_sOP_Exists</name>
        <label>If sOP Exists</label>
        <locationX>41</locationX>
        <locationY>1097</locationY>
        <defaultConnector>
            <targetReference>Init_sOP_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sOP Doesn&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Yes_sOP_exists_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAlreadyExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, sOP exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_sOpp_NULL</name>
        <label>If sOpp NULL</label>
        <locationX>191</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>sOpp NULL</defaultConnectorLabel>
        <rules>
            <name>sOpp_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOpp_Region</targetReference>
            </connector>
            <label>sOpp NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_sP_NULL</name>
        <label>If sP NULL</label>
        <locationX>54</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Error_product_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sP NULL</defaultConnectorLabel>
        <rules>
            <name>sP_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_sPBE</targetReference>
            </connector>
            <label>sP NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_sPBE_NULL</name>
        <label>If sPBE NULL</label>
        <locationX>212</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>Error_PBE_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sPBE NULL</defaultConnectorLabel>
        <rules>
            <name>sPBE_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPriceBookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scOP</targetReference>
            </connector>
            <label>sPBE NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOP_to_delete</name>
        <label>scOP to delete</label>
        <locationX>44</locationX>
        <locationY>1228</locationY>
        <defaultConnector>
            <targetReference>WaitOneMinute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No scOP to delete</defaultConnectorLabel>
        <rules>
            <name>Yes_delete_scOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_scOP</targetReference>
            </connector>
            <label>Yes, delete scOP</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOP_Exists</name>
        <label>sOP Exists</label>
        <locationX>695</locationX>
        <locationY>855</locationY>
        <defaultConnector>
            <targetReference>Loop_scOP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sOP doesn&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>YEs_sOP_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunityProduct.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sProduct.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vProductAlreadyExists_True</targetReference>
            </connector>
            <label>YEs, sOP exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpp_Region</name>
        <label>sOpp Region</label>
        <locationX>419</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>sOpp_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Region = Australia</defaultConnectorLabel>
        <rules>
            <name>Region_International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_vRegion_Intl</targetReference>
            </connector>
            <label>Region = International</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOpp_Types</name>
        <label>sOpp Types</label>
        <locationX>709</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Fundamentals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamentals</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vProductName_Fundamentals</targetReference>
            </connector>
            <label>Fundamentals</label>
        </rules>
        <rules>
            <name>Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vProductName_is_Level_1</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vProductName_Level2</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vProductName_Level3</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Refresher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refresher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vProductName_Refresher</targetReference>
            </connector>
            <label>Refresher</label>
        </rules>
        <rules>
            <name>Berlin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verhandlungsführung mit System: Grenzen explorieren, Neues ausprobieren</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vProductName_Berlin</targetReference>
            </connector>
            <label>Berlin</label>
        </rules>
    </decisions>
    <interviewLabel>OcPax Auto-create Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OcPax Auto-create Product</label>
    <loops>
        <name>Loop_scOP</name>
        <label>scOP</label>
        <locationX>399</locationX>
        <locationY>855</locationY>
        <assignNextValueToReference>sOpportunityProduct</assignNextValueToReference>
        <collectionReference>scOpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sOP_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_sOP_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_sOP</name>
        <label>sOP</label>
        <locationX>468</locationX>
        <locationY>1101</locationY>
        <connector>
            <targetReference>scOP_to_delete</targetReference>
        </connector>
        <inputReference>sOpportunityProductCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_scOP</name>
        <label>scOP</label>
        <locationX>468</locationX>
        <locationY>1236</locationY>
        <connector>
            <targetReference>WaitOneMinute</targetReference>
        </connector>
        <inputReference>scOpportunityProducts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_scOP</name>
        <label>Find scOP</label>
        <locationX>56</locationX>
        <locationY>736</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_scOP_NULL</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>scOpportunityProducts</outputReference>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sOpp</name>
        <label>Find sOpp</label>
        <locationX>46</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_sOpp_NULL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Types__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Parent_Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sP</name>
        <label>Find sP</label>
        <locationX>1221</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_sP_NULL</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductName</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sPBE</name>
        <label>Find sPBE</label>
        <locationX>54</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_sPBE_NULL</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOpportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>sPriceBookEntry</outputReference>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <startElementReference>If_sOpp_NULL</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Opportunity_Product_Sync</name>
        <label>Opportunity Product Sync</label>
        <locationX>43</locationX>
        <locationY>1468</locationY>
        <flowName>Opportunity_Product_sync</flowName>
        <inputAssignments>
            <name>vOpportunityId</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sOpportunity</assignToReference>
            <name>sOpportunity</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>scOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOpportunityProductCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityProductUnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vProductAlreadyExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Australian</stringValue>
        </value>
    </variables>
    <variables>
        <name>vWaitDeliveryStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>WaitOneMinute</name>
        <label>WaitOneMinute</label>
        <locationX>41</locationX>
        <locationY>1356</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>PauseBeforeSync</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Opportunity_Product_Sync</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>vOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Wait_base_time_1_minute__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>PauseBeforeSync</label>
            <outputParameters>
                <assignToReference>vWaitDeliveryStatus</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
