flows/Opportunity_Product_Extensions_create_monthly.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Aggregates_OPE_parent</name>
        <label>Aggregate sOPE parent</label>
        <locationX>1438</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_ENSI_perc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_doll_comm_ENSI_perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_ensi_ad_hoc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_doll_comm_ensi_ad_hoc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_fac__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_doll_comm_fac__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_fac_perc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_doll_comm_fac_perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_fac_ad_hoc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_doll_comm_fac_ad_hoc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_mark__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_doll_comm_mark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_mark_perc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_doll_comm_mark_perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_mark_ad_hoc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_doll_comm_mark_ad_hoc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_rev_rec__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_doll_rev_rec__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_fac_days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_fac_days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_fac_hours_ad_hoc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEchild.Total_fac_hours_ad_hoc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOPEchild_is_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_aggregated_sOPE</name>
        <label>Collect aggregated sOPE</label>
        <locationX>1254</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>scOPEupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsOPEaggregated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOPEmonth_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sOPEfresh</name>
        <label>Collect sOPEfresh</label>
        <locationX>820</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>scOPEcreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEfresh</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vIndexMonth_is_CurrentMonth</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sOPEupdate</name>
        <label>Collect sOPEupdate</label>
        <locationX>1025</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>scOPEupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOPEupdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vIndexMonth_is_CurrentMonth</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterate_vIndexMonth</name>
        <label>Iterate vIndexMonth</label>
        <locationX>665</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>vIndexMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIndexMonthPlusOne</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIndexYearPlusOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_sOPE_objects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Override_vOppAutoRefresh</name>
        <label>Override vOppAutoRefresh</label>
        <locationX>165</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>vOppAutoRefresh</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpp.Automatic_refresh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpp.Automatic_refresh__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Auto_refresh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_sOPEfresh</name>
        <label>Populate sOPEfresh</label>
        <locationX>819</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>sOPEfresh.rec_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIndexDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPEfresh.Parent_OPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOPE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPEfresh.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPEfresh.OPE_code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>in{!fIndexLabel}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPEfresh.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>in{!fIndexLabel}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPEfresh.Is_child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sOPEfresh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_sOPE_objects</name>
        <label>Reset sOPE objects</label>
        <locationX>665</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>sOPEmonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOPEempty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPEfresh</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOPEempty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scOPEchildren_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_vIndex_Dates_OPE</name>
        <label>Reset vIndex Dates and OPE</label>
        <locationX>509</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>vIndexYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOppCloseYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOppCloseMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsOPEaggregated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_ENSI_perc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_ensi_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_fac__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_fac_perc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_fac_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_mark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_mark_perc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_comm_mark_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_doll_rev_rec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_fac_days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPE.Total_fac_hours_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_sOPE_objects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOPEfresh</name>
        <label>Set sOPEfresh</label>
        <locationX>818</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>sOPEfresh</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_sOPEfresh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOPEmonth</name>
        <label>Set sOPEmonth</label>
        <locationX>1257</locationX>
        <locationY>27</locationY>
        <assignmentItems>
            <assignToReference>sOPEmonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOPEchild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scOPEchildren</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOpp_OP_sync</name>
        <label>Set sOpp OP sync</label>
        <locationX>634</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>sOpp.Opportunity_Products_sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sum_Total_Ad_Hoc_days</name>
        <label>Set Sum Total Ad Hoc days</label>
        <locationX>1023</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>sOPEupdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOPEmonth.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOPEupdate.Sum_Total_fac_hours_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOPE.Total_fac_hours_ad_hoc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sOPEupdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sum_Total_Ad_Hoc_days_0</name>
        <label>Set Sum Total Ad Hoc days</label>
        <locationX>1254</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>sOPE.Sum_Total_fac_hours_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOPE.Total_fac_hours_ad_hoc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_aggregated_sOPE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Aggregated_collected</name>
        <label>Aggregated collected?</label>
        <locationX>1024</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>Set_Sum_Total_Ad_Hoc_days_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Aggregated_collected_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vsOPEaggregated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOPEmonth_NULL</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Auto_refresh</name>
        <label>Auto refresh</label>
        <locationX>11</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>Find_scOPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No refresh</defaultConnectorLabel>
        <rules>
            <name>Auto_refresh_From_sOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpp.Automatic_refresh__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Override_vOppAutoRefresh</targetReference>
            </connector>
            <label>From sOpp</label>
        </rules>
        <rules>
            <name>Auto_refresh_Monthlies</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vOppAutoRefresh</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monthlies</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOppAutoRefresh</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Extensions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scOPEdeleteAll_refresh</targetReference>
            </connector>
            <label>Monthlies</label>
        </rules>
    </decisions>
    <decisions>
        <name>ORR_syncing</name>
        <label>ORR syncing</label>
        <locationX>473</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Set_sOpp_OP_sync</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ORR_syncing_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpp.Opportunity_Role_Records_syncing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scOPEdelete</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOPE_NULL</name>
        <label>scOPE NULL</label>
        <locationX>531</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Loop_scOPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOPE_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOPE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOPEchildren_NULL</name>
        <label>scOPEchildren NULL</label>
        <locationX>814</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Loop_scOPEchildren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOPEchildren_NULL_true_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOPEchildren</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sOPEfresh</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOPEcreate_NULL</name>
        <label>scOPEcreate NULL</label>
        <locationX>144</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>Create_scOPEcreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOPEcreate_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOPEcreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scOPEdelete</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOPEdelete_NULL</name>
        <label>scOPEdelete NULL</label>
        <locationX>151</locationX>
        <locationY>896</locationY>
        <defaultConnector>
            <targetReference>Delete_scOPEdelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOPEdelete_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOPEdelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOPEdeleteAll_NULL_refresh</name>
        <label>scOPEdeleteAll NULL</label>
        <locationX>338</locationX>
        <locationY>23</locationY>
        <defaultConnector>
            <targetReference>Delete_scOPEdeleteAll_refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOPEdeleteAll_NULL_true_refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOPEdeleteAll</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scOPE</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOPEupdate_NULL</name>
        <label>scOPEupdate NULL</label>
        <locationX>144</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>Update_scOPEupdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>scOPEupdate_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOPEupdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scOPEcreate_NULL</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOPE_aggregated</name>
        <label>sOPE aggregated</label>
        <locationX>1258</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Aggregates_OPE_parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOPE_aggregated_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vsOPEaggregated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOPEchild_is_month</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOPEchild_is_month</name>
        <label>sOPEchild is month</label>
        <locationX>1257</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Loop_scOPEchildren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOPEchild_is_month_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOPEchild.Rec_date_yr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vIndexYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOPEchild.Rec_date_mth__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vIndexMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sOPEmonth</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOPEmonth_NULL</name>
        <label>sOPEmonth NULL</label>
        <locationX>1022</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>Set_Sum_Total_Ad_Hoc_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>sOPEmonth_NULL_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOPEmonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sOPEempty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sOPEfresh</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>vIndexMonth_is_CurrentMonth</name>
        <label>vIndexMonth is CurrentMonth</label>
        <locationX>665</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Iterate_vIndexMonth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>vIndexMonth_is_CurrentMonth_future</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fOppCloseMonth</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fCurrentDateMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fOppCloseYear</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fCurrentDateYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scOPE</targetReference>
            </connector>
            <label>Closed date in future</label>
        </rules>
        <rules>
            <name>No_monthlies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpp.Opportunity_Types__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scOPE</targetReference>
            </connector>
            <label>No monthlies</label>
        </rules>
        <rules>
            <name>vIndexMonth_is_CurrentMonth_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCurrentDateYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vIndexYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCurrentDateMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vIndexMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scOPE</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>fCurrentDateMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fCurrentDateYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fIndexDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!vIndexYear},{!vIndexMonth},1)</expression>
    </formulas>
    <formulas>
        <name>fIndexLabel</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!fIndexDate})) &amp; TEXT(MONTH({!fIndexDate}))</expression>
    </formulas>
    <formulas>
        <name>fIndexMonthPlusOne</name>
        <dataType>Number</dataType>
        <expression>IF({!vIndexMonth}+1=13,1,{!vIndexMonth}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fIndexYearPlusOne</name>
        <dataType>Number</dataType>
        <expression>IF({!fIndexMonthPlusOne}=1,{!vIndexYear}+1,{!vIndexYear})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fOppCloseMonth</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!sOpp.Retainer_start_date__c}),MONTH({!sOpp.CloseDate}),MONTH({!sOpp.Retainer_start_date__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fOppCloseYear</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!sOpp.Retainer_start_date__c}),YEAR({!sOpp.CloseDate}),YEAR({!sOpp.Retainer_start_date__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Opportunity Product Extensions, create monthly {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product Extensions, create monthly</label>
    <loops>
        <name>Loop_scOPE</name>
        <label>scOPE</label>
        <locationX>133</locationX>
        <locationY>213</locationY>
        <assignNextValueToReference>sOPE</assignNextValueToReference>
        <collectionReference>scOPE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_scOPEchildren</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scOPEupdate_NULL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scOPEchildren</name>
        <label>scOPEchildren</label>
        <locationX>1020</locationX>
        <locationY>228</locationY>
        <assignNextValueToReference>sOPEchild</assignNextValueToReference>
        <collectionReference>scOPEchildren</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sOPE_aggregated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Aggregated_collected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_scOPEcreate</name>
        <label>scOPEcreate</label>
        <locationX>320</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>ORR_syncing</targetReference>
        </connector>
        <inputReference>scOPEcreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_scOPEdelete</name>
        <label>scOPEdelete</label>
        <locationX>320</locationX>
        <locationY>893</locationY>
        <inputReference>scOPEdelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_scOPEdeleteAll_refresh</name>
        <label>scOPEdeleteAll</label>
        <locationX>507</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>Delete_records</targetReference>
        </connector>
        <inputReference>scOPEdeleteAll</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_scOPE</name>
        <label>scOPE</label>
        <locationX>329</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOPE_NULL</targetReference>
        </connector>
        <filters>
            <field>OP_is_Ad_Hoc__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_OPE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity_Product_Extension__c</object>
        <outputReference>scOPE</outputReference>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>OPE_code__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OP_Qty__c</queriedFields>
        <queriedFields>OP_Qty_UOM__c</queriedFields>
        <queriedFields>OP_Name__c</queriedFields>
        <queriedFields>OP_Type__c</queriedFields>
        <queriedFields>OP_Unit_Price__c</queriedFields>
        <queriedFields>rec_date__c</queriedFields>
        <queriedFields>OP_Facilitator_Position__c</queriedFields>
        <queriedFields>OP_f2f__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>OP_ID__c</queriedFields>
        <queriedFields>Total_doll_comm_ENSI_perc__c</queriedFields>
        <queriedFields>Total_doll_comm_ensi_ad_hoc__c</queriedFields>
        <queriedFields>Total_doll_comm_fac__c</queriedFields>
        <queriedFields>Total_doll_comm_fac_perc__c</queriedFields>
        <queriedFields>Total_doll_comm_fac_ad_hoc__c</queriedFields>
        <queriedFields>Total_doll_comm_mark__c</queriedFields>
        <queriedFields>Total_doll_comm_mark_perc__c</queriedFields>
        <queriedFields>Total_doll_comm_mark_ad_hoc__c</queriedFields>
        <queriedFields>Total_doll_rev_rec__c</queriedFields>
        <queriedFields>Total_perc_comm__c</queriedFields>
        <queriedFields>Total_fac_days__c</queriedFields>
        <queriedFields>Total_fac_hours_ad_hoc__c</queriedFields>
        <queriedFields>OP_is_Ad_Hoc__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scOPEchildren</name>
        <label>scOPEchildren</label>
        <locationX>324</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_vIndex_Dates_OPE</targetReference>
        </connector>
        <filters>
            <field>Parent_OPE__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOPE.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity_Product_Extension__c</object>
        <outputReference>scOPEchildren</outputReference>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>OPE_code__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OP_Qty__c</queriedFields>
        <queriedFields>OP_Qty_UOM__c</queriedFields>
        <queriedFields>OP_Name__c</queriedFields>
        <queriedFields>OP_Type__c</queriedFields>
        <queriedFields>OP_Unit_Price__c</queriedFields>
        <queriedFields>rec_date__c</queriedFields>
        <queriedFields>OP_Facilitator_Position__c</queriedFields>
        <queriedFields>OP_f2f__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>OP_ID__c</queriedFields>
        <queriedFields>Rec_date_yr__c</queriedFields>
        <queriedFields>Rec_date_mth__c</queriedFields>
        <queriedFields>OP_is_Ad_Hoc__c</queriedFields>
        <queriedFields>Total_doll_comm_ENSI_perc__c</queriedFields>
        <queriedFields>Total_doll_comm_ensi_ad_hoc__c</queriedFields>
        <queriedFields>Total_doll_comm_fac__c</queriedFields>
        <queriedFields>Total_doll_comm_fac_perc__c</queriedFields>
        <queriedFields>Total_doll_comm_fac_ad_hoc__c</queriedFields>
        <queriedFields>Total_doll_comm_mark__c</queriedFields>
        <queriedFields>Total_doll_comm_mark_perc__c</queriedFields>
        <queriedFields>Total_doll_comm_mark_ad_hoc__c</queriedFields>
        <queriedFields>Total_doll_rev_rec__c</queriedFields>
        <queriedFields>Total_perc_comm__c</queriedFields>
        <queriedFields>Total_fac_days__c</queriedFields>
        <queriedFields>Total_fac_hours_ad_hoc__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scOPEdelete</name>
        <label>scOPEdelete</label>
        <locationX>149</locationX>
        <locationY>805</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOPEdelete_NULL</targetReference>
        </connector>
        <filters>
            <field>OP_is_Ad_Hoc__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_OPE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rec_date_mth__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rec_date_yr__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity_Product_Extension__c</object>
        <outputReference>scOPEdelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scOPEdeleteAll_refresh</name>
        <label>scOPEdeleteAll</label>
        <locationX>208</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOPEdeleteAll_NULL_refresh</targetReference>
        </connector>
        <filters>
            <field>OP_is_Ad_Hoc__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_OPE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity_Product_Extension__c</object>
        <outputReference>scOPEdeleteAll</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sOpp</name>
        <label>Find sOpp</label>
        <locationX>11</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auto_refresh</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Opportunity_Types__c</queriedFields>
        <queriedFields>Automatic_refresh__c</queriedFields>
        <queriedFields>Retainer_start_date__c</queriedFields>
        <queriedFields>Opportunity_Role_Records_syncing__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_scOPEupdate</name>
        <label>scOPEupdate</label>
        <locationX>323</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>scOPEcreate_NULL</targetReference>
        </connector>
        <inputReference>scOPEupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sOpp</name>
        <label>sOpp</label>
        <locationX>633</locationX>
        <locationY>811</locationY>
        <connector>
            <targetReference>Find_scOPEdelete</targetReference>
        </connector>
        <inputReference>sOpp</inputReference>
    </recordUpdates>
    <startElementReference>Find_sOpp</startElementReference>
    <status>Active</status>
    <variables>
        <name>scOPE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>scOPEchildren</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>scOPEcreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>scOPEdelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>scOPEdeleteAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>scOPEupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>sOPE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>sOPEchild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>sOPEempty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>sOPEfresh</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>sOPEmonth</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>sOPEupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>sOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vIndexMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vIndexYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vOppAutoRefresh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vsOPEaggregated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vWaitEventStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Delete_records</name>
        <label>Delete records</label>
        <locationX>671</locationX>
        <locationY>44</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>WaitForOneMinute</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Find_scOPE</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>vOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Wait_base_time_1_minute__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <label>WaitForOneMinute</label>
            <outputParameters>
                <assignToReference>vWaitEventStatus</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
