flows/Opportunity_closed_won_flows.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Reset_sOpp</name>
        <label>Reset sOpp</label>
        <locationX>338</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>sOpp.Monthlies_syncing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpp.TEMP_monthlies_sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpp.Automatic_refresh__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Sync_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sOpp_sync_products</name>
        <label>sOpp sync products</label>
        <locationX>627</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>sOpp.Opportunity_Products_sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_vSkipOpe</name>
        <label>vSkipOpe</label>
        <locationX>148</locationX>
        <locationY>83</locationY>
        <defaultConnector>
            <targetReference>PauseOne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Check_vSkipOpe_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSkipOpe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PauseTwo</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sync_Products</name>
        <label>Sync Products</label>
        <locationX>338</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>Update_sOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Sync_Products_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppProdyctSync</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOpp_sync_products</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity, closed won flows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity, closed won flows</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_sOpp</name>
        <label>sOpp</label>
        <locationX>341</locationX>
        <locationY>584</locationY>
        <inputReference>sOpp</inputReference>
    </recordUpdates>
    <startElementReference>Check_vSkipOpe</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Exp_create_fee_splits</name>
        <label>Exp, create fee splits</label>
        <locationX>622</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Reset_sOpp</targetReference>
        </connector>
        <flowName>Expenses_create_fee_splits</flowName>
        <inputAssignments>
            <name>vOpportunityId</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOppAutoRefresh</name>
            <value>
                <elementReference>vOppAutoRefresh</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vOpportunityId</assignToReference>
            <name>vOpportunityId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>InvPay_create_monthly</name>
        <label>InvPay, create monthly</label>
        <locationX>626</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>PauseThree</targetReference>
        </connector>
        <flowName>Invoices_Payable_create_monthly</flowName>
        <inputAssignments>
            <name>vOpportunityId</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOppAutoRefresh</name>
            <value>
                <elementReference>vOppAutoRefresh</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vOpportunityId</assignToReference>
            <name>vOpportunityId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>OPE_create_monthly</name>
        <label>OPE, create monthly</label>
        <locationX>629</locationX>
        <locationY>84</locationY>
        <connector>
            <targetReference>PauseTwo</targetReference>
        </connector>
        <flowName>Opportunity_Product_Extensions_create_monthly</flowName>
        <inputAssignments>
            <name>vOpportunityId</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOppAutoRefresh</name>
            <value>
                <elementReference>vOppAutoRefresh</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vOpportunityId</assignToReference>
            <name>vOpportunityId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>sOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vOppAutoRefresh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOppProdyctSync</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vSkipOpe</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vWaitDeliveryStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>PauseOne</name>
        <label>PauseOne</label>
        <locationX>331</locationX>
        <locationY>86</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>WaitOneMinute</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>OPE_create_monthly</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>vOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Wait_base_time_1_minute__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>WaitOneMinute</label>
            <outputParameters>
                <assignToReference>vWaitDeliveryStatus</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>PauseThree</name>
        <label>PauseThree</label>
        <locationX>335</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>WaitLastMinute</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Exp_create_fee_splits</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>vOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Wait_base_time_1_minute__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>WaitLastMinute</label>
            <outputParameters>
                <assignToReference>vWaitDeliveryStatus</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>PauseTwo</name>
        <label>PauseTwo</label>
        <locationX>332</locationX>
        <locationY>178</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>WaitAnotherMinute</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>InvPay_create_monthly</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>vOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Wait_base_time_1_minute__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>WaitAnotherMinute</label>
            <outputParameters>
                <assignToReference>vWaitDeliveryStatus</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
