flows/Opportunity_Role_Commissions_create.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Collect_CommFeeExpInvItem</name>
        <label>Collect CommFeeExpInvItem</label>
        <locationX>871</locationX>
        <locationY>1557</locationY>
        <assignmentItems>
            <assignToReference>scInvItemExpCommFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sInvItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Sell_Mat_objects</name>
        <label>Collect Sell Mat objects</label>
        <locationX>634</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>scExpensesCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExpenseCommission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scOpportunityProductsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scInvoiceLineItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sell_Serv_doll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Sell_Serv_objects</name>
        <label>Collect Sell Serv objects</label>
        <locationX>639</locationX>
        <locationY>2760</locationY>
        <assignmentItems>
            <assignToReference>scExpensesCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExpenseCommission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scOpportunityProductsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scInvoiceLineItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOR_Spot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sExpComm_Fac_Serv_1_1</name>
        <label>Collect sExpComm Fac Serv</label>
        <locationX>633</locationX>
        <locationY>3993</locationY>
        <assignmentItems>
            <assignToReference>scExpensesCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExpenseCommission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scOpportunityProductsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scInvoiceLineItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scExp_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sExpComm_Ref</name>
        <label>Collect sExpComm Ref</label>
        <locationX>655</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>scExpensesCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExpenseCommission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scOR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sExpComm_Spot_Serv_1</name>
        <label>Collect sExpComm Spot Serv</label>
        <locationX>626</locationX>
        <locationY>3580</locationY>
        <assignmentItems>
            <assignToReference>scExpensesCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExpenseCommission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scOpportunityProductsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scInvoiceLineItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOR_Fac</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sExpFromChild</name>
        <label>Collect sExpFromChild</label>
        <locationX>1400</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>scExpensesFromChildren</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExpenseFromChild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scExpFromChild</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sInvItemExp</name>
        <label>Collect sInvItemExp</label>
        <locationX>872</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>scInvoiceItemsExpenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sInvItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sInvItemsExp_codes</name>
        <label>Collect sInvItemsExp codes</label>
        <locationX>125</locationX>
        <locationY>1494</locationY>
        <assignmentItems>
            <assignToReference>cInvoiceItemExpensesCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cInvoiceItemExpensesCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cInvItemExpCodes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sInvLI_0_1_1_1</name>
        <label>Collect sInvLI</label>
        <locationX>1179</locationX>
        <locationY>4345</locationY>
        <assignmentItems>
            <assignToReference>scInvoiceLineItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scExp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sInvLI_0_1_1_1_1</name>
        <label>Collect sInvLI</label>
        <locationX>745</locationX>
        <locationY>4626</locationY>
        <assignmentItems>
            <assignToReference>scInvoiceLineItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scExpFromChildren</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Spot_Mat_objects</name>
        <label>Collect Spot Mat objects</label>
        <locationX>626</locationX>
        <locationY>3193</locationY>
        <assignmentItems>
            <assignToReference>scExpensesCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sExpenseCommission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scOpportunityProductsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scInvoiceLineItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spot_Serv_doll_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fac_Serv_Other</name>
        <label>Fac Serv Other</label>
        <locationX>763</locationX>
        <locationY>3872</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNegAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityProductService.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services split as Fac {!sOpportunityRole.Facilitator_position__c}: {!sExpenseCommission.Commission_as_percentage__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>sInvItemExp_NULL_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fac_Serv_sExp</name>
        <label>Fac Serv sExp</label>
        <locationX>631</locationX>
        <locationY>3871</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseService.Expense_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseService.Expense_Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Total_doll_comm_serv_fac__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Commission_as_percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.perc_comm_serv_fac__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services split as Facilitator {!sOpportunityRole.Spot_position__c} for {!sOpportunityRole.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseService.Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Facilitator_position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Facilitator_position__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fac_Serv_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_sExpComm</name>
        <label>Reset sExpComm</label>
        <locationX>244</locationX>
        <locationY>1903</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseEmpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOR_Referrer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sell_Mat_other</name>
        <label>Sell Mat other</label>
        <locationX>777</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNegAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityProductMaterial.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Material split as Sell {!sOpportunityRole.Sell_position__c}: {!sExpenseCommission.Commission_as_percentage__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>sInvItemExp_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sell_Mat_sExp</name>
        <label>Sell Mat sExp</label>
        <locationX>636</locationX>
        <locationY>2257</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseMaterial.Expense_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseMaterial.Expense_Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Total_doll_comm_mat_sell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Commission_as_percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.perc_comm_mat_sell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Material split as Sell {!sOpportunityRole.Sell_position__c} for {!sOpportunityRole.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseMaterial.Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sell_Mat_other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sell_Serv_other</name>
        <label>Sell Serv other</label>
        <locationX>780</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNegAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityProductService.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services split as Sell {!sOpportunityRole.Sell_position__c}: {!sExpenseCommission.Commission_as_percentage__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>sInvItemExp_NULL_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sell_Serv_sExp</name>
        <label>Sell Serv sExp</label>
        <locationX>640</locationX>
        <locationY>2658</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseService.Expense_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseService.Expense_Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Total_doll_comm_serv_sell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Commission_as_percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.perc_comm_serv_sell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services split as Sell {!sOpportunityRole.Sell_position__c} for {!sOpportunityRole.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseService.Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sell_Serv_other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OC_PAX_ready</name>
        <label>Set OC PAX ready</label>
        <locationX>625</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>sOpportunity.Ready_to_Calculate_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Recalculate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOPMat_Pid</name>
        <label>Set sOPMat Pid</label>
        <locationX>1752</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductMaterial.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sProductDeductedFee.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scPDD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOPServ_Pid</name>
        <label>Set sOPServ Pid</label>
        <locationX>1745</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductService.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sProductDeductedFee.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scPDD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExp_defaults</name>
        <label>sExp defaults</label>
        <locationX>27</locationX>
        <locationY>1170</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services commission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseMaterial.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materials commission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseMaterial.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Australian</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseMaterial.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5-10370</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductService.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deducted fees (Services, Australian)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductMaterial.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deducted fees (Materials, Australian)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Num_PF_Leaders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpComm_default_Fac</name>
        <label>sExpComm default Fac</label>
        <locationX>305</locationX>
        <locationY>3877</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facilitator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fac_Serv_doll_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpComm_default_Sell</name>
        <label>sExpComm default Sell</label>
        <locationX>302</locationX>
        <locationY>2256</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sell</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sell_Mat_doll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpComm_default_Spot</name>
        <label>sExpComm default Spot</label>
        <locationX>293</locationX>
        <locationY>3073</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spot_Mat_doll_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpComm_Ref</name>
        <label>sExpComm Ref</label>
        <locationX>652</locationX>
        <locationY>1897</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referrer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Contact__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Referrer_account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referral / rebate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Referrer_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Total_doll_ref__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Commission_as_percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.perc_comm_ref__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Opportunity_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sExpComm_Ref</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpComm_sOP_default_sOR</name>
        <label>sExpComm sOP default sOR</label>
        <locationX>438</locationX>
        <locationY>2005</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Contact_account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Facilitator_position__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Opportunity_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Opportunity_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOppRT_OC_PAX_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpEmpty_default</name>
        <label>sExpEmpty default</label>
        <locationX>30</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>sExpenseEmpty.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseEmpty.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseEmpty.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseEmpty.Expense_chargeable_to_client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseEmpty.Related_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOppRT_OC_Course_profit_split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_default_PF_1</name>
        <label>sExpServ default PF 1</label>
        <locationX>382</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF 1 Leader (Australian)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseService.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-10201</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_default_PF_1_Intl</name>
        <label>sExpServ default PF 1 Intl.</label>
        <locationX>1234</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF 1 Leader (International)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseService.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-20201</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOP_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_default_PF_1_PS</name>
        <label>sExpServ default PF 1 PS</label>
        <locationX>1401</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF 1 Leader</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseService.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-20201</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOP_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_default_PF_2</name>
        <label>sExpServ default PF 2</label>
        <locationX>387</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF 2 Leader (Australian)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseService.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-10220</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_default_PF_2_Intl</name>
        <label>sExpServ default PF 2 Intl.</label>
        <locationX>1238</locationX>
        <locationY>1105</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF 2 Leader (International)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseService.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-20220</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOP_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_default_PF_2_PS</name>
        <label>sExpServ default PF 2 PS</label>
        <locationX>1405</locationX>
        <locationY>1105</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF 2 Leader</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseService.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-20220</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOP_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_default_sub_PF_3</name>
        <label>sExpServ default PF 3</label>
        <locationX>388</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF 3 Leader (Australian)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseService.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-10230</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_default_sub_PF_3_Intl</name>
        <label>sExpServ default PF 3 Intl.</label>
        <locationX>1239</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF 3 Leader (International)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseService.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-20230</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOP_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_default_sub_PF_3_PS</name>
        <label>sExpServ default PF 3 PS</label>
        <locationX>1406</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PF 3 Leader</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseService.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-20230</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOP_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sExpServ_profit_split</name>
        <label>sExpServ profit split</label>
        <locationX>1587</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>sExpenseService.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Profit commission</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Num_PF_Leaders_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInv_default</name>
        <label>sInv default</label>
        <locationX>1039</locationX>
        <locationY>1383</locationY>
        <assignmentItems>
            <assignToReference>sInvoice.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.invt__Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.Invoice_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.invt__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunity.Assigned_CSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.invt__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DRAFT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.invt__Sync_With_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.invt__Line_Amount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exclusive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.invt__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACCPAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOppRT_OC_PAX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInv_default_sOR</name>
        <label>sInv default sOR</label>
        <locationX>918</locationX>
        <locationY>2005</locationY>
        <assignmentItems>
            <assignToReference>sInvoice.invt__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.invt__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Contact_account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoice.Opportunity_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_sInv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvItem_default_sInv</name>
        <label>sInvItem default sInv</label>
        <locationX>1095</locationX>
        <locationY>2120</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOR_Sell</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvLI_from_sInvItemExp</name>
        <label>sInvLI from sInvItemExp</label>
        <locationX>1183</locationX>
        <locationY>2485</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Inventory_Asset_Invoice_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Purchase_Invoice_Tax_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sInvItemExpFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvLI_from_sInvItemExp_0</name>
        <label>sInvLI from sInvItemExp</label>
        <locationX>1179</locationX>
        <locationY>2904</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Inventory_Asset_Invoice_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Purchase_Invoice_Tax_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sInvItemExpFee_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvLI_from_sInvItemExp_0_1</name>
        <label>sInvLI from sInvItemExp</label>
        <locationX>1161</locationX>
        <locationY>3683</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Inventory_Asset_Invoice_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Purchase_Invoice_Tax_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sInvItemExp_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvLI_from_sInvItemExp_0_1_1</name>
        <label>sInvLI from sInvItemExp</label>
        <locationX>1155</locationX>
        <locationY>4099</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Inventory_Asset_Invoice_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Purchase_Invoice_Tax_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sInvItemExp_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvLI_from_sInvItemExp_0_1_1_1</name>
        <label>sInvLI from sInvItemExp</label>
        <locationX>1748</locationX>
        <locationY>4348</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Inventory_Asset_Invoice_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Purchase_Invoice_Tax_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sInvItemExp_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvLI_from_sInvItemExp_0_1_1_1_1</name>
        <label>sInvLI from sInvItemExp</label>
        <locationX>1314</locationX>
        <locationY>4626</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Inventory_Asset_Invoice_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Purchase_Invoice_Tax_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sInvItemExp_0_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvLI_from_sInvItemExp_1</name>
        <label>sInvLI from sInvItemExp</label>
        <locationX>1179</locationX>
        <locationY>3288</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Inventory_Asset_Invoice_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sInvoiceItem.invt__Purchase_Invoice_Tax_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sInvItemExp_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvLI_sExp</name>
        <label>sInvLI sExp</label>
        <locationX>1003</locationX>
        <locationY>4227</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpense.Joining_of_Types__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpense.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>sInvItemExp_NULL_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sInvLI_sExp_1</name>
        <label>sInvLI sExp</label>
        <locationX>569</locationX>
        <locationY>4508</locationY>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpense.Joining_of_Types__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpense.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>sInvItemExp_NULL_0_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sOP_default</name>
        <label>sOP default</label>
        <locationX>1333</locationX>
        <locationY>1305</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Not_equal_to_PAX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Related_to_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not related to training dates</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_scPDD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sOP_sExp_defaults_Intl</name>
        <label>sOP sExp defaults Intl.</label>
        <locationX>1021</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductService.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deducted fees (Services, International)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductMaterial.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deducted fees (Materials, International)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseMaterial.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>International</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseMaterial.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5-0370</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Num_PF_Leaders_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sOpp_Comm_created</name>
        <label>sOpp Comm. created</label>
        <locationX>1188</locationX>
        <locationY>4840</locationY>
        <assignmentItems>
            <assignToReference>sOpportunity.Commissions_Invoices_created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunity.Re_calculate_commissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spot_Mat_Other</name>
        <label>Spot Mat Other</label>
        <locationX>771</locationX>
        <locationY>3077</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNegAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityProductMaterial.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Material split as Spot {!sOpportunityRole.Spot_position__c}: {!sExpenseCommission.Commission_as_percentage__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>sInvItemExp_NULL_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spot_Mat_sExp</name>
        <label>Spot Mat sExp</label>
        <locationX>624</locationX>
        <locationY>3073</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseMaterial.Expense_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseMaterial.Expense_Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Total_doll_comm_mat_spot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Commission_as_percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.perc_comm_mat_spot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Material split as Spot {!sOpportunityRole.Spot_position__c} for {!sOpportunityRole.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseMaterial.Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spot_Mat_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spot_Serv_Other</name>
        <label>Spot Serv Other</label>
        <locationX>759</locationX>
        <locationY>3477</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNegAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityProductService.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services split as Spot {!sOpportunityRole.Spot_position__c}: {!sExpenseCommission.Commission_as_percentage__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseCommission.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInvoiceLineItem.invt__Invoice_Tax_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>sInvItemExp_NULL_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spot_Serv_sExp</name>
        <label>Spot Serv sExp</label>
        <locationX>628</locationX>
        <locationY>3474</locationY>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseService.Expense_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Expense_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseService.Expense_Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.Total_doll_comm_serv_spot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Commission_as_percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRole.perc_comm_serv_spot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services split as Spot {!sOpportunityRole.Spot_position__c} for {!sOpportunityRole.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sExpenseCommission.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sExpenseService.Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spot_Serv_Other</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fac_Serv_doll_1_1</name>
        <label>Fac Serv $</label>
        <locationX>432</locationX>
        <locationY>3874</locationY>
        <defaultConnector>
            <targetReference>scExp_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fac NO Serv $</defaultConnectorLabel>
        <rules>
            <name>Fac_has_Serv_doll_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Total_doll_comm_serv_fac__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fac_Serv_sExp</targetReference>
            </connector>
            <label>Fac has Serv $</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Commission_Fee_expense</name>
        <label>If Commission / Fee expense</label>
        <locationX>874</locationX>
        <locationY>1665</locationY>
        <defaultConnector>
            <targetReference>Collect_sInvItemExp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other expense</defaultConnectorLabel>
        <rules>
            <name>Commission_fee_expense</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sInvoiceItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-10201</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvoiceItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-10220</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvoiceItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-10230</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvoiceItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-20201</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvoiceItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-20220</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvoiceItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-20230</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sInvoiceItem.invt__Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5-10370</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_CommFeeExpInvItem</targetReference>
            </connector>
            <label>Commission / fee expense</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Ready</name>
        <label>If Ready</label>
        <locationX>239</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>Not ready</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Ready_to_Calculate_Commission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Recalculate</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
        <rules>
            <name>OC_PAX_closed_won_not_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduXAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.Ready_to_Calculate_Commission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OC_PAX_ready</targetReference>
            </connector>
            <label>OC PAX closed won, not ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Recalculate</name>
        <label>If Recalculate</label>
        <locationX>37</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>Find_scOR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, first time</defaultConnectorLabel>
        <rules>
            <name>Yes_delete_all</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Re_calculate_commissions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scExp_delete</targetReference>
            </connector>
            <label>Yes, delete all</label>
        </rules>
        <rules>
            <name>DEBUGGING</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Re_calculate_commissions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scExp_delete</targetReference>
            </connector>
            <label>DEBUGGING</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_House_and_Special</name>
        <label>In-House and Special</label>
        <locationX>12</locationX>
        <locationY>4747</locationY>
        <defaultConnector>
            <targetReference>scInvLI_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not In-House special</defaultConnectorLabel>
        <rules>
            <name>Yes_In_House_special</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduUAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.Client_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sOpportunity.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scOP_NULL</targetReference>
            </connector>
            <label>Yes, In-House special</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_sPDDmat</name>
        <label>Match sPDDmat</label>
        <locationX>1748</locationX>
        <locationY>1593</locationY>
        <defaultConnector>
            <targetReference>Loop_scPDD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO MATCH sPDDmat</defaultConnectorLabel>
        <rules>
            <name>Matches_sPDDmat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sProductDeductedFee.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sOpportunityProductMaterial.Description</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sOPMat_Pid</targetReference>
            </connector>
            <label>Matches sPDDmat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_sPDDserv</name>
        <label>Match sPDDserv</label>
        <locationX>1745</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Match_sPDDmat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO MATCH sPDDserv</defaultConnectorLabel>
        <rules>
            <name>Matches_sPDDserv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sProductDeductedFee.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sOpportunityProductService.Description</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sOPServ_Pid</targetReference>
            </connector>
            <label>Matches sPDDserv</label>
        </rules>
    </decisions>
    <decisions>
        <name>Num_PF_Leaders</name>
        <label>Num PF Leaders</label>
        <locationX>176</locationX>
        <locationY>1170</locationY>
        <defaultConnector>
            <targetReference>sExpServ_default_PF_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Num PF is Blank</defaultConnectorLabel>
        <rules>
            <name>PF_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_PF_1</targetReference>
            </connector>
            <label>PF 1</label>
        </rules>
        <rules>
            <name>PF_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_PF_2</targetReference>
            </connector>
            <label>PF 2</label>
        </rules>
        <rules>
            <name>PF_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_sub_PF_3</targetReference>
            </connector>
            <label>PF 3</label>
        </rules>
        <rules>
            <name>PF_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_sub_PF_3</targetReference>
            </connector>
            <label>PF 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Num_PF_Leaders_0</name>
        <label>Num PF Leaders</label>
        <locationX>1022</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>sExpServ_default_PF_1_Intl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Num PF is Blank</defaultConnectorLabel>
        <rules>
            <name>PF_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_PF_1_Intl</targetReference>
            </connector>
            <label>PF 1</label>
        </rules>
        <rules>
            <name>PF_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_PF_2_Intl</targetReference>
            </connector>
            <label>PF 2</label>
        </rules>
        <rules>
            <name>PF_3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_sub_PF_3_Intl</targetReference>
            </connector>
            <label>PF 3</label>
        </rules>
        <rules>
            <name>PF_4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_sub_PF_3_Intl</targetReference>
            </connector>
            <label>PF 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Num_PF_Leaders_0_0</name>
        <label>Num PF Leaders</label>
        <locationX>1589</locationX>
        <locationY>1025</locationY>
        <defaultConnector>
            <targetReference>sExpServ_default_PF_1_PS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Num PF is Blank</defaultConnectorLabel>
        <rules>
            <name>PF_1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_PF_1_PS</targetReference>
            </connector>
            <label>PF 1</label>
        </rules>
        <rules>
            <name>PF_2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_PF_2_PS</targetReference>
            </connector>
            <label>PF 2</label>
        </rules>
        <rules>
            <name>PF_3_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_sub_PF_3_PS</targetReference>
            </connector>
            <label>PF 3</label>
        </rules>
        <rules>
            <name>PF_4_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Num_PF_Leaders_comm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_default_sub_PF_3_PS</targetReference>
            </connector>
            <label>PF 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppRecordType_OCParent</name>
        <label>OppRecordType OCParent</label>
        <locationX>460</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>sExpEmpty_default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OppRT Other</defaultConnectorLabel>
        <rules>
            <name>OppRT_OC_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduVAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scOppChildren</targetReference>
            </connector>
            <label>OppRT OC Course</label>
        </rules>
        <rules>
            <name>OppRT_OC_Course_profit_split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduWAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scOppChildren</targetReference>
            </connector>
            <label>OppRT OC Course profit split</label>
        </rules>
    </decisions>
    <decisions>
        <name>Region</name>
        <label>Region</label>
        <locationX>533</locationX>
        <locationY>1137</locationY>
        <defaultConnector>
            <targetReference>sOP_sExp_defaults_Intl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>International</defaultConnectorLabel>
        <rules>
            <name>Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOP_default</targetReference>
            </connector>
            <label>Australia</label>
        </rules>
    </decisions>
    <decisions>
        <name>scExp_delete_exist</name>
        <label>scExp delete exist</label>
        <locationX>389</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Find_scOP_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No scExp delete</defaultConnectorLabel>
        <rules>
            <name>Yes_scExp_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scExpensesDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scExp_delete</targetReference>
            </connector>
            <label>Yes, scExp delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>scExp_NULL</name>
        <label>scExp NULL</label>
        <locationX>200</locationX>
        <locationY>4232</locationY>
        <defaultConnector>
            <targetReference>scExpFromChildren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scExp NULL</defaultConnectorLabel>
        <rules>
            <name>scExp_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scExp</targetReference>
            </connector>
            <label>scExp NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scExpCreate_NULL</name>
        <label>scExpCreate NULL</label>
        <locationX>785</locationX>
        <locationY>4834</locationY>
        <defaultConnector>
            <targetReference>sOpp_Comm_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scExpCreate NULL</defaultConnectorLabel>
        <rules>
            <name>scExpCreate_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scExpensesCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_scExpCreate</targetReference>
            </connector>
            <label>scExpCreate NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scExpFromChild_NULL</name>
        <label>scExpFromChild NULL</label>
        <locationX>1196</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Loop_sOppChidlren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scExpFromChild NULL</defaultConnectorLabel>
        <rules>
            <name>scExpFromChild_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scExpensesFromChild</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scExpFromChild</targetReference>
            </connector>
            <label>scExpFromChild NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scExpFromChildren</name>
        <label>scExpFromChildren</label>
        <locationX>139</locationX>
        <locationY>4380</locationY>
        <defaultConnector>
            <targetReference>Loop_scOR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ignore scExpFromChildren</defaultConnectorLabel>
        <rules>
            <name>Process_scExpFromChildren</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scExpensesFromChildren</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunityRole.Has_roles_on_OC_PAX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scExpFromChildren</targetReference>
            </connector>
            <label>Process scExpFromChildren</label>
        </rules>
    </decisions>
    <decisions>
        <name>scInv_delete_exist</name>
        <label>scInv delete exist</label>
        <locationX>400</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Find_scOR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No scInv delete</defaultConnectorLabel>
        <rules>
            <name>Yes_scInv_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoicesDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scInv_delete</targetReference>
            </connector>
            <label>Yes, scInv delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>scInvLI_NULL</name>
        <label>scInvLI NULL</label>
        <locationX>276</locationX>
        <locationY>4908</locationY>
        <defaultConnector>
            <targetReference>scExpCreate_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scInvLI NULL</defaultConnectorLabel>
        <rules>
            <name>sOppRT_is_OC_PAX_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduXAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scExpCreate_NULL</targetReference>
            </connector>
            <label>sOppRT is OC PAX</label>
        </rules>
        <rules>
            <name>scInvLI_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoiceLineItemsCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_scInvLI</targetReference>
            </connector>
            <label>scInvLI NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOP_delete_exist</name>
        <label>scOP delete exist</label>
        <locationX>396</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Find_scInv_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No scOP delete</defaultConnectorLabel>
        <rules>
            <name>Yes_scOP_delete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityProductsDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scOP_delete</targetReference>
            </connector>
            <label>Yes, scOP delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOP_NULL</name>
        <label>scOP NULL</label>
        <locationX>270</locationX>
        <locationY>4753</locationY>
        <defaultConnector>
            <targetReference>scExpCreate_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scOP NULL</defaultConnectorLabel>
        <rules>
            <name>scOP_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityProductsCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_scOP</targetReference>
            </connector>
            <label>scOP NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOppChildren_NULL</name>
        <label>scOppChildren NULL</label>
        <locationX>757</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>sExpEmpty_default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scOppChildren NULL</defaultConnectorLabel>
        <rules>
            <name>scOppChildren_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityChildren</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_sOppChidlren</targetReference>
            </connector>
            <label>scOppChildren NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOR_NULL</name>
        <label>scOR NULL</label>
        <locationX>242</locationX>
        <locationY>552</locationY>
        <defaultConnectorLabel>scOR NULL</defaultConnectorLabel>
        <rules>
            <name>scOR_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_scExp</targetReference>
            </connector>
            <label>scOR NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scPDD_NULL</name>
        <label>scPDD NULL</label>
        <locationX>1483</locationX>
        <locationY>1381</locationY>
        <defaultConnector>
            <targetReference>sInv_default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scPDD NULL</defaultConnectorLabel>
        <rules>
            <name>scPDD_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scProductsDeductedFees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scPDD</targetReference>
            </connector>
            <label>scPDD NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sell_Mat_doll</name>
        <label>Sell Mat $</label>
        <locationX>434</locationX>
        <locationY>2260</locationY>
        <defaultConnector>
            <targetReference>Sell_Serv_doll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sell NO Mat $</defaultConnectorLabel>
        <rules>
            <name>Sell_has_Mat_doll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Total_doll_comm_mat_sell__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sExpenseMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sell_Mat_sExp</targetReference>
            </connector>
            <label>Sell has Mat $</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sell_Serv_doll</name>
        <label>Sell Serv $</label>
        <locationX>427</locationX>
        <locationY>2657</locationY>
        <defaultConnector>
            <targetReference>sOR_Spot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sell NO Serv $</defaultConnectorLabel>
        <rules>
            <name>Sell_has_Serv_doll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Total_doll_comm_serv_sell__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sell_Serv_sExp</targetReference>
            </connector>
            <label>Sell has Serv $</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExp_match_sOR</name>
        <label>sExp match sOR</label>
        <locationX>759</locationX>
        <locationY>4227</locationY>
        <defaultConnector>
            <targetReference>Loop_scExp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sExp NOT sOR</defaultConnectorLabel>
        <rules>
            <name>sExp_MATCHES_sOR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sExpense.Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sInvLI_sExp</targetReference>
            </connector>
            <label>sExp MATCHES sOR</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExp_match_sOR_1</name>
        <label>sExp match sOR</label>
        <locationX>325</locationX>
        <locationY>4508</locationY>
        <defaultConnector>
            <targetReference>Loop_scExpFromChildren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sExp NOT sOR</defaultConnectorLabel>
        <rules>
            <name>sExp_MATCHES_sOR_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sExpense.Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sInvLI_sExp_1</targetReference>
            </connector>
            <label>sExp MATCHES sOR</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExp_sInvItemExp_0_1_1_1</name>
        <label>sExp = sInvItemExp</label>
        <locationX>1746</locationX>
        <locationY>4226</locationY>
        <defaultConnector>
            <targetReference>Loop_sInvItemExp_0_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sExp NOT sInvItemExp</defaultConnectorLabel>
        <rules>
            <name>sExp_Equal_sInvItemExp_0_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExpense.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sInvoiceItem.invt__Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sInvLI_from_sInvItemExp_0_1_1_1</targetReference>
            </connector>
            <label>sExp = sInvItemExp</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExp_sInvItemExp_0_1_1_1_1</name>
        <label>sExp = sInvItemExp</label>
        <locationX>1312</locationX>
        <locationY>4507</locationY>
        <defaultConnector>
            <targetReference>Loop_sInvItemExp_0_1_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sExp NOT sInvItemExp</defaultConnectorLabel>
        <rules>
            <name>sExp_Equal_sInvItemExp_0_1_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExpense.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sInvoiceItem.invt__Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sInvLI_from_sInvItemExp_0_1_1_1_1</targetReference>
            </connector>
            <label>sExp = sInvItemExp</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExpComm_sInvItemExp</name>
        <label>sExpComm = sInvItemExp</label>
        <locationX>915</locationX>
        <locationY>2483</locationY>
        <defaultConnector>
            <targetReference>Loop_sInvItemExpFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sExpComm NOT sInvItemExp</defaultConnectorLabel>
        <rules>
            <name>sExpComm_Equal_sInvItemExp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExpenseCommission.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sInvoiceItem.invt__Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sInvLI_from_sInvItemExp</targetReference>
            </connector>
            <label>sExpComm = sInvItemExp</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExpComm_sInvItemExp_0</name>
        <label>sExpComm = sInvItemExp</label>
        <locationX>918</locationX>
        <locationY>2891</locationY>
        <defaultConnector>
            <targetReference>Loop_sInvItemExpFee_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sExpComm NOT sInvItemExp</defaultConnectorLabel>
        <rules>
            <name>sExpComm_Equal_sInvItemExp_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExpenseCommission.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sInvoiceItem.invt__Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sInvLI_from_sInvItemExp_0</targetReference>
            </connector>
            <label>sExpComm = sInvItemExp</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExpComm_sInvItemExp_0_1</name>
        <label>sExpComm = sInvItemExp</label>
        <locationX>902</locationX>
        <locationY>3691</locationY>
        <defaultConnector>
            <targetReference>Loop_sInvItemExp_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sExpComm NOT sInvItemExp</defaultConnectorLabel>
        <rules>
            <name>sExpComm_Equal_sInvItemExp_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExpenseCommission.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sInvoiceItem.invt__Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sInvLI_from_sInvItemExp_0_1</targetReference>
            </connector>
            <label>sExpComm = sInvItemExp</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExpComm_sInvItemExp_0_1_1</name>
        <label>sExpComm = sInvItemExp</label>
        <locationX>898</locationX>
        <locationY>4100</locationY>
        <defaultConnector>
            <targetReference>Loop_sInvItemExp_0_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sExpComm NOT sInvItemExp</defaultConnectorLabel>
        <rules>
            <name>sExpComm_Equal_sInvItemExp_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExpenseCommission.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sInvoiceItem.invt__Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sInvLI_from_sInvItemExp_0_1_1</targetReference>
            </connector>
            <label>sExpComm = sInvItemExp</label>
        </rules>
    </decisions>
    <decisions>
        <name>sExpComm_sInvItemExp_1</name>
        <label>sExpComm = sInvItemExp</label>
        <locationX>906</locationX>
        <locationY>3292</locationY>
        <defaultConnector>
            <targetReference>Loop_sInvItemExp_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sExpComm NOT sInvItemExp</defaultConnectorLabel>
        <rules>
            <name>sExpComm_Equal_sInvItemExp_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sExpenseCommission.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sInvoiceItem.invt__Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sInvLI_from_sInvItemExp_1</targetReference>
            </connector>
            <label>sExpComm = sInvItemExp</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvItemExp_NULL</name>
        <label>sInvItemExp NULL</label>
        <locationX>920</locationX>
        <locationY>2256</locationY>
        <defaultConnector>
            <targetReference>Collect_Sell_Mat_objects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sInvItemExp NULL</defaultConnectorLabel>
        <rules>
            <name>sInvItemExp_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoiceItemsExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_sInvItemExpFee</targetReference>
            </connector>
            <label>sInvItemExp NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvItemExp_NULL_0</name>
        <label>sInvItemExp NULL</label>
        <locationX>920</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Collect_Sell_Serv_objects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sInvItemExp NULL</defaultConnectorLabel>
        <rules>
            <name>sInvItemExp_NOT_NULL_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoiceItemsExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_sInvItemExpFee_0</targetReference>
            </connector>
            <label>sInvItemExp NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvItemExp_NULL_0_1</name>
        <label>sInvItemExp NULL</label>
        <locationX>899</locationX>
        <locationY>3478</locationY>
        <defaultConnector>
            <targetReference>Collect_sExpComm_Spot_Serv_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sInvItemExp NULL</defaultConnectorLabel>
        <rules>
            <name>sInvItemExp_NOT_NULL_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoiceItemsExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_sInvItemExp_0_1</targetReference>
            </connector>
            <label>sInvItemExp NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvItemExp_NULL_0_1_1</name>
        <label>sInvItemExp NULL</label>
        <locationX>897</locationX>
        <locationY>3868</locationY>
        <defaultConnector>
            <targetReference>Collect_sExpComm_Fac_Serv_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sInvItemExp NULL</defaultConnectorLabel>
        <rules>
            <name>sInvItemExp_NOT_NULL_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoiceItemsExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_sInvItemExp_0_1_1</targetReference>
            </connector>
            <label>sInvItemExp NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvItemExp_NULL_0_1_1_1</name>
        <label>sInvItemExp NULL</label>
        <locationX>1180</locationX>
        <locationY>4228</locationY>
        <defaultConnector>
            <targetReference>Collect_sInvLI_0_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sInvItemExp NULL</defaultConnectorLabel>
        <rules>
            <name>sInvItemExp_NOT_NULL_0_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoiceItemsExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_sInvItemExp_0_1_1_1</targetReference>
            </connector>
            <label>sInvItemExp NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvItemExp_NULL_0_1_1_1_1</name>
        <label>sInvItemExp NULL</label>
        <locationX>746</locationX>
        <locationY>4509</locationY>
        <defaultConnector>
            <targetReference>Collect_sInvLI_0_1_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sInvItemExp NULL</defaultConnectorLabel>
        <rules>
            <name>sInvItemExp_NOT_NULL_0_1_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoiceItemsExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_sInvItemExp_0_1_1_1_1</targetReference>
            </connector>
            <label>sInvItemExp NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvItemExp_NULL_1</name>
        <label>sInvItemExp NULL</label>
        <locationX>912</locationX>
        <locationY>3077</locationY>
        <defaultConnector>
            <targetReference>Collect_Spot_Mat_objects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sInvItemExp NULL</defaultConnectorLabel>
        <rules>
            <name>sInvItemExp_NOT_NULL_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoiceItemsExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_sInvItemExp_1</targetReference>
            </connector>
            <label>sInvItemExp NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>sInvItems_NULL</name>
        <label>sInvItems NULL</label>
        <locationX>653</locationX>
        <locationY>1577</locationY>
        <defaultConnector>
            <targetReference>cInvItemExpCodes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sInvItems NULL</defaultConnectorLabel>
        <rules>
            <name>sInvItems_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scInvoiceItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_sInvItems</targetReference>
            </connector>
            <label>sInvItems NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOppRT_OC_Course_profit_split</name>
        <label>sOppRT OC Course profit split</label>
        <locationX>31</locationX>
        <locationY>952</locationY>
        <defaultConnector>
            <targetReference>sExp_defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sOppRT not OC profit split</defaultConnectorLabel>
        <rules>
            <name>sOppRT_is_OC_profit_split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduWAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpServ_profit_split</targetReference>
            </connector>
            <label>sOppRT is OC profit split</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOppRT_OC_PAX</name>
        <label>sOppRT OC PAX</label>
        <locationX>36</locationX>
        <locationY>1386</locationY>
        <defaultConnector>
            <targetReference>Collect_sInvItemsExp_codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sOppRT not OC PAX</defaultConnectorLabel>
        <rules>
            <name>sOppRT_is_OC_PAX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduXAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scOR</targetReference>
            </connector>
            <label>sOppRT is OC PAX</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOppRT_OC_PAX_0</name>
        <label>sOppRT OC PAX</label>
        <locationX>645</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>sInv_default_sOR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sOppRT not OC PAX</defaultConnectorLabel>
        <rules>
            <name>sOppRT_is_OC_PAX_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduXAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOR_Sell</targetReference>
            </connector>
            <label>sOppRT is OC PAX</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOR_Fac</name>
        <label>sOR Fac</label>
        <locationX>217</locationX>
        <locationY>3763</locationY>
        <defaultConnector>
            <targetReference>scExp_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sOR is NOT Fac</defaultConnectorLabel>
        <rules>
            <name>sOR_is_also_Fac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Facilitator_position__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpComm_default_Fac</targetReference>
            </connector>
            <label>sOR is also Fac</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOR_Referrer</name>
        <label>sOR Referrer</label>
        <locationX>436</locationX>
        <locationY>1900</locationY>
        <defaultConnector>
            <targetReference>sExpComm_sOP_default_sOR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sOR not Referrer</defaultConnectorLabel>
        <rules>
            <name>sOR_is_Referrer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120E000000J29jQAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpComm_Ref</targetReference>
            </connector>
            <label>sOR is Referrer</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOR_Sell</name>
        <label>sOR Sell</label>
        <locationX>240</locationX>
        <locationY>2132</locationY>
        <defaultConnector>
            <targetReference>sOR_Spot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sOR is NOT Sell</defaultConnectorLabel>
        <rules>
            <name>sOR_is_also_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Sell_position__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpComm_default_Sell</targetReference>
            </connector>
            <label>sOR is also Sell</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOR_Spot</name>
        <label>sOR Spot</label>
        <locationX>228</locationX>
        <locationY>2948</locationY>
        <defaultConnector>
            <targetReference>sOR_Fac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sOR is NOT Spot</defaultConnectorLabel>
        <rules>
            <name>sOR_is_also_Spot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Spot_position__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sExpComm_default_Spot</targetReference>
            </connector>
            <label>sOR is also Spot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spot_Mat_doll_0</name>
        <label>Spot Mat $</label>
        <locationX>416</locationX>
        <locationY>3072</locationY>
        <defaultConnector>
            <targetReference>Spot_Serv_doll_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spot NO Mat $</defaultConnectorLabel>
        <rules>
            <name>Spot_has_Mat_doll_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Total_doll_comm_mat_spot__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sExpenseMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spot_Mat_sExp</targetReference>
            </connector>
            <label>Spot has Mat $</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spot_Serv_doll_1</name>
        <label>Spot Serv $</label>
        <locationX>411</locationX>
        <locationY>3472</locationY>
        <defaultConnector>
            <targetReference>sOR_Fac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spot NO Serv $</defaultConnectorLabel>
        <rules>
            <name>Spot_has_Serv_doll_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRole.Total_doll_comm_serv_spot__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spot_Serv_sExp</targetReference>
            </connector>
            <label>Spot has Serv $</label>
        </rules>
    </decisions>
    <formulas>
        <name>fNegAmount</name>
        <dataType>Currency</dataType>
        <expression>0-{!sExpenseCommission.Amount__c}</expression>
        <scale>5</scale>
    </formulas>
    <interviewLabel>Opportunity Role Commissions, create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(dep) Opportunity Role Commissions, create</label>
    <loops>
        <name>cInvItemExpCodes</name>
        <label>cInvItemExpCodes</label>
        <locationX>308</locationX>
        <locationY>1491</locationY>
        <assignNextValueToReference>vInvoiceItemExpensesCode</assignNextValueToReference>
        <collectionReference>cInvoiceItemExpensesCodes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>scInvItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_scOR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scExp</name>
        <label>scExp</label>
        <locationX>522</locationX>
        <locationY>4228</locationY>
        <assignNextValueToReference>sExpense</assignNextValueToReference>
        <collectionReference>scExpenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sExp_match_sOR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scExpFromChildren</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scExpFromChild</name>
        <label>scExpFromChild</label>
        <locationX>1194</locationX>
        <locationY>841</locationY>
        <assignNextValueToReference>sExpenseFromChild</assignNextValueToReference>
        <collectionReference>scExpensesFromChild</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_sExpFromChild</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_sOppChidlren</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scExpFromChildren</name>
        <label>scExpFromChildren</label>
        <locationX>88</locationX>
        <locationY>4509</locationY>
        <assignNextValueToReference>sExpense</assignNextValueToReference>
        <collectionReference>scExpensesFromChildren</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sExp_match_sOR_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_scOR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scOR</name>
        <label>scOR</label>
        <locationX>19</locationX>
        <locationY>1900</locationY>
        <assignNextValueToReference>sOpportunityRole</assignNextValueToReference>
        <collectionReference>scOpportunityRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_sExpComm</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>In_House_and_Special</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scPDD</name>
        <label>scPDD</label>
        <locationX>1485</locationX>
        <locationY>1489</locationY>
        <assignNextValueToReference>sProductDeductedFee</assignNextValueToReference>
        <collectionReference>scProductsDeductedFees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_sPDDserv</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sInv_default</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_sInvItemExp_0_1</name>
        <label>sInvItemExp</label>
        <locationX>900</locationX>
        <locationY>3579</locationY>
        <assignNextValueToReference>sInvoiceItem</assignNextValueToReference>
        <collectionReference>scInvItemExpCommFee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sExpComm_sInvItemExp_0_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_sExpComm_Spot_Serv_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_sInvItemExp_0_1_1</name>
        <label>sInvItemExp</label>
        <locationX>898</locationX>
        <locationY>3984</locationY>
        <assignNextValueToReference>sInvoiceItem</assignNextValueToReference>
        <collectionReference>scInvItemExpCommFee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sExpComm_sInvItemExp_0_1_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_sExpComm_Fac_Serv_1_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_sInvItemExp_0_1_1_1</name>
        <label>sInvItemExp</label>
        <locationX>1441</locationX>
        <locationY>4229</locationY>
        <assignNextValueToReference>sInvoiceItem</assignNextValueToReference>
        <collectionReference>scInvoiceItemsExpenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sExp_sInvItemExp_0_1_1_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_sInvLI_0_1_1_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_sInvItemExp_0_1_1_1_1</name>
        <label>sInvItemExp</label>
        <locationX>1007</locationX>
        <locationY>4510</locationY>
        <assignNextValueToReference>sInvoiceItem</assignNextValueToReference>
        <collectionReference>scInvoiceItemsExpenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sExp_sInvItemExp_0_1_1_1_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_sInvLI_0_1_1_1_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_sInvItemExp_1</name>
        <label>sInvItemExp</label>
        <locationX>910</locationX>
        <locationY>3184</locationY>
        <assignNextValueToReference>sInvoiceItem</assignNextValueToReference>
        <collectionReference>scInvItemExpCommFee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sExpComm_sInvItemExp_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_Spot_Mat_objects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_sInvItemExpFee</name>
        <label>sInvItemExpFee</label>
        <locationX>916</locationX>
        <locationY>2367</locationY>
        <assignNextValueToReference>sInvoiceItem</assignNextValueToReference>
        <collectionReference>scInvItemExpCommFee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sExpComm_sInvItemExp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_Sell_Mat_objects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_sInvItemExpFee_0</name>
        <label>sInvItemExpFee</label>
        <locationX>920</locationX>
        <locationY>2764</locationY>
        <assignNextValueToReference>sInvoiceItem</assignNextValueToReference>
        <collectionReference>scInvItemExpCommFee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sExpComm_sInvItemExp_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_Sell_Serv_objects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_sInvItems</name>
        <label>sInvItems</label>
        <locationX>655</locationX>
        <locationY>1678</locationY>
        <assignNextValueToReference>sInvoiceItem</assignNextValueToReference>
        <collectionReference>scInvoiceItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Commission_Fee_expense</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>cInvItemExpCodes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_sOppChidlren</name>
        <label>sOppChidlren</label>
        <locationX>912</locationX>
        <locationY>838</locationY>
        <assignNextValueToReference>sOpportunityChild</assignNextValueToReference>
        <collectionReference>scOpportunityChildren</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_scExpFromChild</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sExpEmpty_default</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_scExpCreate</name>
        <label>Create scExpCreate</label>
        <locationX>999</locationX>
        <locationY>4742</locationY>
        <connector>
            <targetReference>sOpp_Comm_created</targetReference>
        </connector>
        <inputReference>scExpensesCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_scInvLI</name>
        <label>Create scInvLI</label>
        <locationX>643</locationX>
        <locationY>4904</locationY>
        <connector>
            <targetReference>scExpCreate_NULL</targetReference>
        </connector>
        <inputReference>scInvoiceLineItemsCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_scOP</name>
        <label>Create scOP</label>
        <locationX>649</locationX>
        <locationY>4756</locationY>
        <connector>
            <targetReference>scExpCreate_NULL</targetReference>
        </connector>
        <inputReference>scOpportunityProductsCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_sInv</name>
        <label>Create sInv</label>
        <locationX>1099</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>sInvItem_default_sInv</targetReference>
        </connector>
        <inputReference>sInvoice</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>scExp_delete</name>
        <label>scExp delete</label>
        <locationX>621</locationX>
        <locationY>141</locationY>
        <connector>
            <targetReference>Find_scOP_delete</targetReference>
        </connector>
        <inputReference>scExpensesDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>scInv_delete</name>
        <label>scInv delete</label>
        <locationX>632</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Find_scOR</targetReference>
        </connector>
        <inputReference>scInvoicesDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>scOP_delete</name>
        <label>scOP delete</label>
        <locationX>628</locationX>
        <locationY>265</locationY>
        <connector>
            <targetReference>Find_scInv_delete</targetReference>
        </connector>
        <inputReference>scOpportunityProductsDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_scExp</name>
        <label>scExp</label>
        <locationX>461</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppRecordType_OCParent</targetReference>
        </connector>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Expense__c</object>
        <outputReference>scExpenses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Facilitator_position__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Joining_of_Types__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scExp_delete</name>
        <label>scExp delete</label>
        <locationX>236</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scExp_delete_exist</targetReference>
        </connector>
        <filters>
            <field>Opportunity_Role__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Expense__c</object>
        <outputReference>scExpensesDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scExpFromChild</name>
        <label>scExpFromChild</label>
        <locationX>911</locationX>
        <locationY>741</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scExpFromChild_NULL</targetReference>
        </connector>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOpportunityChild.Id</elementReference>
            </value>
        </filters>
        <object>Expense__c</object>
        <outputReference>scExpensesFromChild</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Facilitator_position__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Joining_of_Types__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scInv_delete</name>
        <label>scInv delete</label>
        <locationX>239</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scInv_delete_exist</targetReference>
        </connector>
        <filters>
            <field>Opportunity_Role__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>invt__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>invt__Invoice__c</object>
        <outputReference>scInvoicesDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scOP_delete</name>
        <label>scOP delete</label>
        <locationX>234</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOP_delete_exist</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Role__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>scOpportunityProductsDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scOR</name>
        <label>scOR</label>
        <locationX>36</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOR_NULL</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0120E000000J29eQAC</stringValue>
            </value>
        </filters>
        <object>Opportunity_Role__c</object>
        <outputReference>scOpportunityRoles</outputReference>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Contact_account__c</queriedFields>
        <queriedFields>Facilitator_position__c</queriedFields>
        <queriedFields>Sell_position__c</queriedFields>
        <queriedFields>Spot_position__c</queriedFields>
        <queriedFields>Referrer_type__c</queriedFields>
        <queriedFields>Referrer_account__c</queriedFields>
        <queriedFields>perc_comm_ref__c</queriedFields>
        <queriedFields>perc_comm_mat_sell__c</queriedFields>
        <queriedFields>perc_comm_mat_spot__c</queriedFields>
        <queriedFields>perc_comm_serv_fac__c</queriedFields>
        <queriedFields>perc_comm_serv_sell__c</queriedFields>
        <queriedFields>perc_comm_serv_spot__c</queriedFields>
        <queriedFields>Total_doll_comm_mat_sell__c</queriedFields>
        <queriedFields>Total_doll_comm_mat_spot__c</queriedFields>
        <queriedFields>Total_doll_comm_serv_fac__c</queriedFields>
        <queriedFields>Total_doll_comm_serv_sell__c</queriedFields>
        <queriedFields>Total_doll_comm_serv_spot__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Total_doll_ref__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Has_roles_on_OC_PAX__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scPDD</name>
        <label>scPDD</label>
        <locationX>1484</locationX>
        <locationY>1302</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scPDD_NULL</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Deducted fees</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>scProductsDeductedFees</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sOpp</name>
        <label>sOpp</label>
        <locationX>39</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Ready</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Num_PF_Leaders_comm__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Assigned_CSM__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Client_Account__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Re_calculate_commissions__c</queriedFields>
        <queriedFields>Ready_to_Calculate_Commission__c</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>scInvItems</name>
        <label>scInvItems</label>
        <locationX>649</locationX>
        <locationY>1496</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sInvItems_NULL</targetReference>
        </connector>
        <filters>
            <field>invt__Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>vInvoiceItemExpensesCode</elementReference>
            </value>
        </filters>
        <object>invt__Invoice_Item__c</object>
        <outputReference>scInvoiceItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>invt__Inventory_Asset_Invoice_Account__c</queriedFields>
        <queriedFields>invt__Purchase_Invoice_Tax_Type__c</queriedFields>
        <queriedFields>invt__Sales_Invoice_Tax_Type__c</queriedFields>
        <queriedFields>invt__Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>scOppChildren</name>
        <label>scOppChildren</label>
        <locationX>754</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOppChildren_NULL</targetReference>
        </connector>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>scOpportunityChildren</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_sOpp</name>
        <label>Update sOpp</label>
        <locationX>1369</locationX>
        <locationY>4842</locationY>
        <inputReference>sOpportunity</inputReference>
    </recordUpdates>
    <startElementReference>Find_sOpp</startElementReference>
    <status>Draft</status>
    <variables>
        <name>cInvoiceItemExpensesCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>scExpenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>scExpensesCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>scExpensesDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>scExpensesFromChild</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>scExpensesFromChildren</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>scInvItemExpCommFee</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invt__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>scInvoiceItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>invt__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>scInvoiceItemsExpenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>invt__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>scInvoiceLineItemsCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>invt__Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>scInvoicesDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invt__Invoice__c</objectType>
    </variables>
    <variables>
        <name>scOpportunityChildren</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>scOpportunityProductsCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>scOpportunityProductsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>scOpportunityRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Role__c</objectType>
    </variables>
    <variables>
        <name>scProductsDeductedFees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>sExpense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sExpenseCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sExpenseEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sExpenseFromChild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sExpenseMaterial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sExpenseService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>invt__Invoice__c</objectType>
    </variables>
    <variables>
        <name>sInvoiceItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>invt__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>sInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>invt__Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>sOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOpportunityChild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOpportunityProductMaterial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOpportunityProductService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sOpportunityRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Role__c</objectType>
    </variables>
    <variables>
        <name>sProductDeductedFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>vInvoiceItemExpensesCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vWaitDeliveryStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
