flows/OppProductExpense_Garbage_Collection.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddOrphanProduct</name>
        <label>AddOrphanProduct</label>
        <locationX>526</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>scOppProductOrphans</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOppProductExpense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppProductExpenses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitMatchFound</name>
        <label>InitMatchFound</label>
        <locationX>646</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>MatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopExpensesWithProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMatchFound</name>
        <label>SetMatchFound</label>
        <locationX>650</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>MatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopExpensesWithProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sOpp_products_sync</name>
        <label>sOpp products sync</label>
        <locationX>391</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>sOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpp.Opportunity_Products_sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AnyOrphans</name>
        <label>AnyOrphans</label>
        <locationX>392</locationX>
        <locationY>532</locationY>
        <defaultConnectorLabel>NoOprhans</defaultConnectorLabel>
        <rules>
            <name>OrphansExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOppProductOrphans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteOrphans</targetReference>
            </connector>
            <label>OrphansExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMatchFound</name>
        <label>CheckMatchFound</label>
        <locationX>868</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>AddOrphanProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MatchNotFound</defaultConnectorLabel>
        <rules>
            <name>MatchFoundTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOppProductExpenses</targetReference>
            </connector>
            <label>MatchFoundTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOppProductMatchesExpenseProduct</name>
        <label>DoesOppProductMatchesExpenseProduct</label>
        <locationX>860</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>LoopExpensesWithProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMatch</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppProductExpense.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sExpenseWithProduct.Related_OpportunityProduct_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMatchFound</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoExpensesWithProductsExist</name>
        <label>DoExpensesWithProductsExist</label>
        <locationX>387</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>DeleteAllOppProductExpenses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ExpensesWithProductsDoNotExist</defaultConnectorLabel>
        <rules>
            <name>ExpensesWithProductsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scExpensesWithProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOppProductExpenses</targetReference>
            </connector>
            <label>ExpensesWithProductsExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoOppProductExpensesExist</name>
        <label>DoOppProductExpensesExist</label>
        <locationX>224</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>OppProductExpensesDoNotExist</defaultConnectorLabel>
        <rules>
            <name>OppProductExpensesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOppProductExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindExpensesWithProducts</targetReference>
            </connector>
            <label>OppProductExpensesExist</label>
        </rules>
    </decisions>
    <interviewLabel>OppProductExpense Garbage Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppProductExpense Garbage Collection</label>
    <loops>
        <name>LoopExpensesWithProducts</name>
        <label>LoopExpensesWithProducts</label>
        <locationX>648</locationX>
        <locationY>537</locationY>
        <assignNextValueToReference>sExpenseWithProduct</assignNextValueToReference>
        <collectionReference>scExpensesWithProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DoesOppProductMatchesExpenseProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckMatchFound</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOppProductExpenses</name>
        <label>LoopOppProductExpenses</label>
        <locationX>390</locationX>
        <locationY>408</locationY>
        <assignNextValueToReference>sOppProductExpense</assignNextValueToReference>
        <collectionReference>scOppProductExpenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InitMatchFound</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AnyOrphans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteAllOppProductExpenses</name>
        <label>DeleteAllOppProductExpenses</label>
        <locationX>868</locationX>
        <locationY>171</locationY>
        <inputReference>scOppProductExpenses</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteOrphans</name>
        <label>DeleteOrphans</label>
        <locationX>393</locationX>
        <locationY>655</locationY>
        <connector>
            <targetReference>sOpp_products_sync</targetReference>
        </connector>
        <inputReference>scOppProductOrphans</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>FindExpensesWithProducts</name>
        <label>FindExpensesWithProducts</label>
        <locationX>226</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoExpensesWithProductsExist</targetReference>
        </connector>
        <filters>
            <field>Expense_chargeable_to_client__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_OpportunityProduct_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Expense__c</object>
        <outputReference>scExpensesWithProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_OpportunityProduct_ID__c</queriedFields>
        <queriedFields>Expense_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindOppProductExpenses</name>
        <label>FindOppProductExpenses</label>
        <locationX>49</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoOppProductExpensesExist</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Expense_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>scOppProductExpenses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_Expense_ID__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product_name__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_sOpp</name>
        <label>sOpp</label>
        <locationX>395</locationX>
        <locationY>858</locationY>
        <inputReference>sOpp</inputReference>
    </recordUpdates>
    <startElementReference>FindOppProductExpenses</startElementReference>
    <status>Active</status>
    <variables>
        <name>MatchFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>scExpensesWithProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>scOppProductExpenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>scOppProductOrphans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sExpenseWithProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>sOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOppProductExpense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
