flows/Set_Job_surveys.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetJobId</name>
        <label>SetJobId</label>
        <locationX>54</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>EmptyJob.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBasicJobInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJobSurveyEval</name>
        <label>SetJobSurveyEval</label>
        <locationX>773</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>EmptyJob.Evaluation_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSurvey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEach_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJobSurveyNip</name>
        <label>SetJobSurveyNip</label>
        <locationX>1023</locationX>
        <locationY>95</locationY>
        <assignmentItems>
            <assignToReference>EmptyJob.NIP_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSurvey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEach_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJobSurveyRaitPost</name>
        <label>SetJobSurveyRaitPost</label>
        <locationX>366</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>EmptyJob.Post_RAIT_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSurvey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEach_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJobSurveyReview</name>
        <label>SetJobSurveyReview</label>
        <locationX>565</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>EmptyJob.Peer_Review_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSurvey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmptyJob.Self_Review_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSurvey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEach_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetJobSurveyThreeMonth</name>
        <label>SetJobSurveyThreeMonth</label>
        <locationX>228</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>EmptyJob.Three_Month_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSurvey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEach_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSurveysPopulated</name>
        <label>SetSurveysPopulated</label>
        <locationX>146</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>EmptyJob.Surveys_populated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateJob</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SurveysAlreadyPopulated</name>
        <label>SurveysAlreadyPopulated</label>
        <locationX>356</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>FindSurveys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SurveysNotPopulated</defaultConnectorLabel>
        <rules>
            <name>SurveysPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmptyJob.Surveys_populated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SurveysPopulated</label>
        </rules>
    </decisions>
    <decisions>
        <name>SurveyType</name>
        <label>SurveyType</label>
        <locationX>586</locationX>
        <locationY>467</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TypeIsEval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSurvey.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetJobSurveyEval</targetReference>
            </connector>
            <label>TypeIsEval</label>
        </rules>
        <rules>
            <name>TypeIsReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSurvey.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetJobSurveyReview</targetReference>
            </connector>
            <label>TypeIsReview</label>
        </rules>
        <rules>
            <name>TypeIsRait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSurvey.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetJobSurveyRaitPost</targetReference>
            </connector>
            <label>TypeIsRait</label>
        </rules>
        <rules>
            <name>TypeIsThreeMonth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSurvey.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Three month</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetJobSurveyThreeMonth</targetReference>
            </connector>
            <label>TypeIsThreeMonth</label>
        </rules>
        <rules>
            <name>TypeIsNip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSurvey.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetJobSurveyNip</targetReference>
            </connector>
            <label>TypeIsNip</label>
        </rules>
    </decisions>
    <description>Set all of the (non-PFQ) survey ID fields for a new Job.</description>
    <interviewLabel>Set Job surveys {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Job surveys</label>
    <loops>
        <name>ForEach_Survey</name>
        <label>ForEach Survey</label>
        <locationX>318</locationX>
        <locationY>287</locationY>
        <assignNextValueToReference>LoopSurvey</assignNextValueToReference>
        <collectionReference>Surveys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SurveyType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetSurveysPopulated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindSurveys</name>
        <label>FindSurveys</label>
        <locationX>192</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEach_Survey</targetReference>
        </connector>
        <filters>
            <field>Legacy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PFQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Three month</stringValue>
            </value>
        </filters>
        <object>Survey__c</object>
        <outputReference>Surveys</outputReference>
        <queriedFields>URL__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Survey_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetBasicJobInfo</name>
        <label>GetBasicJobInfo</label>
        <locationX>212</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveysAlreadyPopulated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>EmptyJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Surveys_populated__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateJob</name>
        <label>UpdateJob</label>
        <locationX>41</locationX>
        <locationY>479</locationY>
        <inputReference>EmptyJob</inputReference>
    </recordUpdates>
    <startElementReference>SetJobId</startElementReference>
    <status>Active</status>
    <variables>
        <description>An empty Job record ready to be filled.</description>
        <name>EmptyJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>Surveys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
</Flow>
