flows/Set_Nam_From_Contact_Role.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetNam</name>
        <label>SetNam</label>
        <locationX>60</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>sOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunity.NAM_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPrimaryContactRole.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPax</name>
        <label>SetPax</label>
        <locationX>268</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>sOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunity.Contact_PAX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPrimaryContactRole.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsPax</name>
        <label>IsPax?</label>
        <locationX>57</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>SetNam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOpportunityRecordTypeFromLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OC PAX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_contact_null</name>
        <label>Main contact null</label>
        <locationX>235</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>Not NULL</defaultConnectorLabel>
        <rules>
            <name>OC_PAX_and_PAX_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduXAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.Contact_PAX__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindPrimaryContactRole</targetReference>
            </connector>
            <label>OC PAX and PAX null</label>
        </rules>
        <rules>
            <name>In_House_and_NAM_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000iduUAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.NAM_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindPrimaryContactRole</targetReference>
            </connector>
            <label>In-House and NAM null</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrimaryContactRoleExists</name>
        <label>PrimaryContactRoleExists</label>
        <locationX>63</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>DoesntExist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPrimaryContactRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsPax</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Set Nam From Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Main Contact From Contact Role</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindPrimaryContactRole</name>
        <label>FindPrimaryContactRole</label>
        <locationX>548</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrimaryContactRoleExists</targetReference>
        </connector>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>sPrimaryContactRole</outputReference>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>sOpp</name>
        <label>sOpp</label>
        <locationX>67</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_contact_null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpportunity</outputReference>
        <queriedFields>Opportunity_record_type_from_Lead__c</queriedFields>
        <queriedFields>NAM_Contact__c</queriedFields>
        <queriedFields>Contact_PAX__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>SaveOpp</name>
        <label>SaveOpp</label>
        <locationX>58</locationX>
        <locationY>541</locationY>
        <inputReference>sOpportunity</inputReference>
    </recordUpdates>
    <startElementReference>sOpp</startElementReference>
    <status>Active</status>
    <variables>
        <name>sOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sPrimaryContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityRecordTypeFromLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
